 .bg-background {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;

    @media(min-width:$screen-sm-min){
        min-height: 562px;
    }
}
.modal-dialog {
    width: 70%;
}

.play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    opacity: 0.6;
    transition:opacity 300ms;
    cursor: pointer;
}
.play-button:hover {
    opacity: .8;
}


