.buttonFooter {
    display: block;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden;
    height: 55px;
    width: 55px;
    top: 0%;

    .svg-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-40%);
    }
}

.social-icons {
    float:left;

    @media(min-width: $screen-xs-min) {
        float:right;
    }

    .social-icon{
        margin-right:10px;
        border:solid 2px $light-blue;
        border-radius: 50%;
        width:35px;
        height:35px;
        padding: 7px;
        position: relative;
        transition: border-color 200ms fill 200ms;

        @media(min-width: $screen-sm-min) {
            margin-left:10px;
            margin-right:0;
        }

        &:hover {
            border-color:lighten($light-blue,15%) !important;

            svg {
                path {
                    fill:lighten($light-blue,15%) !important;
                }
            }
        }

        svg{
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            max-width: 90%;
            max-height: 90%;
        }
    }
}

.language-menu {
    color:$light-blue;

    .selected {
        text-decoration:underline;
    }

    .divider {
        margin:0 5px;
    }
}

.footer-menus {
  @media (min-width: $screen-md-min) {
    @include flexbox();
    @include justify-content(space-between); 
  }

  .footer-menu {
    padding:0;  
    cursor:pointer; 
    border-top:solid 1px $light-blue;

    @media (min-width: $screen-xs-min) {
        border-top:none;
        cursor: default;
    } 

    @media (min-width: $screen-md-min) {
        width:auto;
       
    }

    .menu-items {
        max-height:0;
        transition:max-height 200ms;
        overflow:hidden;

        @media (min-width: $screen-xs-min) {
            max-height:1000px !important;
        }

        .menu-item {
            line-height: 1.75;
        }
    }

    .arrow {
        width:30px;
        height:30px;
        position:relative;

        svg {
            position: absolute;
            top: 0;
            transform: translateY(-27%);
        }

        .up {
            svg {
                transition:opacity 200ms;
                opacity:1;
            }
        }
        .down {
            svg {
                transition:opacity 200ms;
                opacity:0;
            }
        }
    }

    &.active {
        .menu-items {
            max-height:1000px;
        }

        .arrow {
            .up {
                svg {
                    opacity:0;
                }
            }
            .down {
                svg {
                    opacity:1;
                }
            }
        }
    }

    &:first-child {
        border-top:none;
    }
  }
}