
@charset "UTF-8";
.zh-hans #global_header #search_form {
  display: none; }

.de #global_header #search_form {
  display: none; }

.ja .fa {
  font-family: FontAwesome !important; }
.ja #global_header #search_form {
  display: none; }
@media (min-width: 768px) {
  .ja #global_header .main_nav_container .nav-wrapper nav ul li a {
    font-size: 1.1em;
padding-top: 0.7em;
padding-bottom: 0.7em; } }
@media (min-width: 991px) {
  .ja #global_header .main_nav_container .nav-wrapper nav ul li a {
    font-size: 1.275em;
    padding: 0.6em 1.1em 0.5em;
  } }
@media (min-width: 1200px) {
  .ja #global_header .main_nav_container .nav-wrapper nav ul li a {
    font-size: 1.55em;
    padding: 0.6em 1.1em 0.4em;
 } }
.ja #global_header .main_nav_container .nav-wrapper nav ul li ul li a {
  font-size: 0.8em; }
@media (min-width: 768px) {
  .ja #global_header .header_container nav.top-nav {
    width: 278px; } }
@media (min-width: 991px) {
  .ja #global_header .header_container nav.top-nav {
    width: 308px; } }
@media (min-width: 1200px) {
  .ja #global_header .header_container nav.top-nav {
    width: 382px; } }

#global_header {
  position: relative;
  z-index: 100; }
  #global_header * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #global_header *:before,
  #global_header *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #global_header html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent; }
  #global_header body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff; }
  #global_header input,
  #global_header button,
  #global_header select,
  #global_header textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
  #global_header a {
    color: #337ab7;
    text-decoration: none; }
    #global_header a:hover, #global_header a:focus {
      color: #23527c;
      text-decoration: underline; }
    #global_header a:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
  #global_header figure {
    margin: 0; }
  #global_header img {
    vertical-align: middle; }
  #global_header .img-responsive {
    display: block;
    max-width: 100%;
    height: auto; }
  #global_header .img-rounded {
    border-radius: 6px; }
  #global_header .img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto; }
  #global_header .img-circle {
    border-radius: 50%; }
  #global_header hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee; }
  #global_header .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  #global_header .sr-only-focusable:active, #global_header .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto; }
  #global_header [role="button"] {
    cursor: pointer; }
  #global_header .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; }
    #global_header .container:before, #global_header .container:after {
      content: " ";
      display: table; }
    #global_header .container:after {
      clear: both; }
    @media (min-width: 768px) {
      #global_header .container {
        width: 750px; } }
    @media (min-width: 992px) {
      #global_header .container {
        width: 970px; } }
    @media (min-width: 1200px) {
      #global_header .container {
        width: 1170px; } }
  #global_header .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; }
    #global_header .container-fluid:before, #global_header .container-fluid:after {
      content: " ";
      display: table; }
    #global_header .container-fluid:after {
      clear: both; }
  #global_header .row {
    margin-left: -15px;
    margin-right: -15px; }
    #global_header .row:before, #global_header .row:after {
      content: " ";
      display: table; }
    #global_header .row:after {
      clear: both; }
  #global_header .col-xs-1, #global_header .col-sm-1, #global_header .col-md-1, #global_header .col-lg-1, #global_header .col-xs-2, #global_header .col-sm-2, #global_header .col-md-2, #global_header .col-lg-2, #global_header .col-xs-3, #global_header .col-sm-3, #global_header .col-md-3, #global_header .col-lg-3, #global_header .col-xs-4, #global_header .col-sm-4, #global_header .col-md-4, #global_header .col-lg-4, #global_header .col-xs-5, #global_header .col-sm-5, #global_header .col-md-5, #global_header .col-lg-5, #global_header .col-xs-6, #global_header .col-sm-6, #global_header .col-md-6, #global_header .col-lg-6, #global_header .col-xs-7, #global_header .col-sm-7, #global_header .col-md-7, #global_header .col-lg-7, #global_header .col-xs-8, #global_header .col-sm-8, #global_header .col-md-8, #global_header .col-lg-8, #global_header .col-xs-9, #global_header .col-sm-9, #global_header .col-md-9, #global_header .col-lg-9, #global_header .col-xs-10, #global_header .col-sm-10, #global_header .col-md-10, #global_header .col-lg-10, #global_header .col-xs-11, #global_header .col-sm-11, #global_header .col-md-11, #global_header .col-lg-11, #global_header .col-xs-12, #global_header .col-sm-12, #global_header .col-md-12, #global_header .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
  #global_header .col-xs-1, #global_header .col-xs-2, #global_header .col-xs-3, #global_header .col-xs-4, #global_header .col-xs-5, #global_header .col-xs-6, #global_header .col-xs-7, #global_header .col-xs-8, #global_header .col-xs-9, #global_header .col-xs-10, #global_header .col-xs-11, #global_header .col-xs-12 {
    float: left; }
  #global_header .col-xs-1 {
    width: 8.33333%; }
  #global_header .col-xs-2 {
    width: 16.66667%; }
  #global_header .col-xs-3 {
    width: 25%; }
  #global_header .col-xs-4 {
    width: 33.33333%; }
  #global_header .col-xs-5 {
    width: 41.66667%; }
  #global_header .col-xs-6 {
    width: 50%; }
  #global_header .col-xs-7 {
    width: 58.33333%; }
  #global_header .col-xs-8 {
    width: 66.66667%; }
  #global_header .col-xs-9 {
    width: 75%; }
  #global_header .col-xs-10 {
    width: 83.33333%; }
  #global_header .col-xs-11 {
    width: 91.66667%; }
  #global_header .col-xs-12 {
    width: 100%; }
  #global_header .col-xs-pull-0 {
    right: auto; }
  #global_header .col-xs-pull-1 {
    right: 8.33333%; }
  #global_header .col-xs-pull-2 {
    right: 16.66667%; }
  #global_header .col-xs-pull-3 {
    right: 25%; }
  #global_header .col-xs-pull-4 {
    right: 33.33333%; }
  #global_header .col-xs-pull-5 {
    right: 41.66667%; }
  #global_header .col-xs-pull-6 {
    right: 50%; }
  #global_header .col-xs-pull-7 {
    right: 58.33333%; }
  #global_header .col-xs-pull-8 {
    right: 66.66667%; }
  #global_header .col-xs-pull-9 {
    right: 75%; }
  #global_header .col-xs-pull-10 {
    right: 83.33333%; }
  #global_header .col-xs-pull-11 {
    right: 91.66667%; }
  #global_header .col-xs-pull-12 {
    right: 100%; }
  #global_header .col-xs-push-0 {
    left: auto; }
  #global_header .col-xs-push-1 {
    left: 8.33333%; }
  #global_header .col-xs-push-2 {
    left: 16.66667%; }
  #global_header .col-xs-push-3 {
    left: 25%; }
  #global_header .col-xs-push-4 {
    left: 33.33333%; }
  #global_header .col-xs-push-5 {
    left: 41.66667%; }
  #global_header .col-xs-push-6 {
    left: 50%; }
  #global_header .col-xs-push-7 {
    left: 58.33333%; }
  #global_header .col-xs-push-8 {
    left: 66.66667%; }
  #global_header .col-xs-push-9 {
    left: 75%; }
  #global_header .col-xs-push-10 {
    left: 83.33333%; }
  #global_header .col-xs-push-11 {
    left: 91.66667%; }
  #global_header .col-xs-push-12 {
    left: 100%; }
  #global_header .col-xs-offset-0 {
    margin-left: 0%; }
  #global_header .col-xs-offset-1 {
    margin-left: 8.33333%; }
  #global_header .col-xs-offset-2 {
    margin-left: 16.66667%; }
  #global_header .col-xs-offset-3 {
    margin-left: 25%; }
  #global_header .col-xs-offset-4 {
    margin-left: 33.33333%; }
  #global_header .col-xs-offset-5 {
    margin-left: 41.66667%; }
  #global_header .col-xs-offset-6 {
    margin-left: 50%; }
  #global_header .col-xs-offset-7 {
    margin-left: 58.33333%; }
  #global_header .col-xs-offset-8 {
    margin-left: 66.66667%; }
  #global_header .col-xs-offset-9 {
    margin-left: 75%; }
  #global_header .col-xs-offset-10 {
    margin-left: 83.33333%; }
  #global_header .col-xs-offset-11 {
    margin-left: 91.66667%; }
  #global_header .col-xs-offset-12 {
    margin-left: 100%; }
  @media (min-width: 768px) {
    #global_header .col-sm-1, #global_header .col-sm-2, #global_header .col-sm-3, #global_header .col-sm-4, #global_header .col-sm-5, #global_header .col-sm-6, #global_header .col-sm-7, #global_header .col-sm-8, #global_header .col-sm-9, #global_header .col-sm-10, #global_header .col-sm-11, #global_header .col-sm-12 {
      float: left; }
    #global_header .col-sm-1 {
      width: 8.33333%; }
    #global_header .col-sm-2 {
      width: 16.66667%; }
    #global_header .col-sm-3 {
      width: 25%; }
    #global_header .col-sm-4 {
      width: 33.33333%; }
    #global_header .col-sm-5 {
      width: 41.66667%; }
    #global_header .col-sm-6 {
      width: 50%; }
    #global_header .col-sm-7 {
      width: 58.33333%; }
    #global_header .col-sm-8 {
      width: 66.66667%; }
    #global_header .col-sm-9 {
      width: 75%; }
    #global_header .col-sm-10 {
      width: 83.33333%; }
    #global_header .col-sm-11 {
      width: 91.66667%; }
    #global_header .col-sm-12 {
      width: 100%; }
    #global_header .col-sm-pull-0 {
      right: auto; }
    #global_header .col-sm-pull-1 {
      right: 8.33333%; }
    #global_header .col-sm-pull-2 {
      right: 16.66667%; }
    #global_header .col-sm-pull-3 {
      right: 25%; }
    #global_header .col-sm-pull-4 {
      right: 33.33333%; }
    #global_header .col-sm-pull-5 {
      right: 41.66667%; }
    #global_header .col-sm-pull-6 {
      right: 50%; }
    #global_header .col-sm-pull-7 {
      right: 58.33333%; }
    #global_header .col-sm-pull-8 {
      right: 66.66667%; }
    #global_header .col-sm-pull-9 {
      right: 75%; }
    #global_header .col-sm-pull-10 {
      right: 83.33333%; }
    #global_header .col-sm-pull-11 {
      right: 91.66667%; }
    #global_header .col-sm-pull-12 {
      right: 100%; }
    #global_header .col-sm-push-0 {
      left: auto; }
    #global_header .col-sm-push-1 {
      left: 8.33333%; }
    #global_header .col-sm-push-2 {
      left: 16.66667%; }
    #global_header .col-sm-push-3 {
      left: 25%; }
    #global_header .col-sm-push-4 {
      left: 33.33333%; }
    #global_header .col-sm-push-5 {
      left: 41.66667%; }
    #global_header .col-sm-push-6 {
      left: 50%; }
    #global_header .col-sm-push-7 {
      left: 58.33333%; }
    #global_header .col-sm-push-8 {
      left: 66.66667%; }
    #global_header .col-sm-push-9 {
      left: 75%; }
    #global_header .col-sm-push-10 {
      left: 83.33333%; }
    #global_header .col-sm-push-11 {
      left: 91.66667%; }
    #global_header .col-sm-push-12 {
      left: 100%; }
    #global_header .col-sm-offset-0 {
      margin-left: 0%; }
    #global_header .col-sm-offset-1 {
      margin-left: 8.33333%; }
    #global_header .col-sm-offset-2 {
      margin-left: 16.66667%; }
    #global_header .col-sm-offset-3 {
      margin-left: 25%; }
    #global_header .col-sm-offset-4 {
      margin-left: 33.33333%; }
    #global_header .col-sm-offset-5 {
      margin-left: 41.66667%; }
    #global_header .col-sm-offset-6 {
      margin-left: 50%; }
    #global_header .col-sm-offset-7 {
      margin-left: 58.33333%; }
    #global_header .col-sm-offset-8 {
      margin-left: 66.66667%; }
    #global_header .col-sm-offset-9 {
      margin-left: 75%; }
    #global_header .col-sm-offset-10 {
      margin-left: 83.33333%; }
    #global_header .col-sm-offset-11 {
      margin-left: 91.66667%; }
    #global_header .col-sm-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 992px) {
    #global_header .col-md-1, #global_header .col-md-2, #global_header .col-md-3, #global_header .col-md-4, #global_header .col-md-5, #global_header .col-md-6, #global_header .col-md-7, #global_header .col-md-8, #global_header .col-md-9, #global_header .col-md-10, #global_header .col-md-11, #global_header .col-md-12 {
      float: left; }
    #global_header .col-md-1 {
      width: 8.33333%; }
    #global_header .col-md-2 {
      width: 16.66667%; }
    #global_header .col-md-3 {
      width: 25%; }
    #global_header .col-md-4 {
      width: 33.33333%; }
    #global_header .col-md-5 {
      width: 41.66667%; }
    #global_header .col-md-6 {
      width: 50%; }
    #global_header .col-md-7 {
      width: 58.33333%; }
    #global_header .col-md-8 {
      width: 66.66667%; }
    #global_header .col-md-9 {
      width: 75%; }
    #global_header .col-md-10 {
      width: 83.33333%; }
    #global_header .col-md-11 {
      width: 91.66667%; }
    #global_header .col-md-12 {
      width: 100%; }
    #global_header .col-md-pull-0 {
      right: auto; }
    #global_header .col-md-pull-1 {
      right: 8.33333%; }
    #global_header .col-md-pull-2 {
      right: 16.66667%; }
    #global_header .col-md-pull-3 {
      right: 25%; }
    #global_header .col-md-pull-4 {
      right: 33.33333%; }
    #global_header .col-md-pull-5 {
      right: 41.66667%; }
    #global_header .col-md-pull-6 {
      right: 50%; }
    #global_header .col-md-pull-7 {
      right: 58.33333%; }
    #global_header .col-md-pull-8 {
      right: 66.66667%; }
    #global_header .col-md-pull-9 {
      right: 75%; }
    #global_header .col-md-pull-10 {
      right: 83.33333%; }
    #global_header .col-md-pull-11 {
      right: 91.66667%; }
    #global_header .col-md-pull-12 {
      right: 100%; }
    #global_header .col-md-push-0 {
      left: auto; }
    #global_header .col-md-push-1 {
      left: 8.33333%; }
    #global_header .col-md-push-2 {
      left: 16.66667%; }
    #global_header .col-md-push-3 {
      left: 25%; }
    #global_header .col-md-push-4 {
      left: 33.33333%; }
    #global_header .col-md-push-5 {
      left: 41.66667%; }
    #global_header .col-md-push-6 {
      left: 50%; }
    #global_header .col-md-push-7 {
      left: 58.33333%; }
    #global_header .col-md-push-8 {
      left: 66.66667%; }
    #global_header .col-md-push-9 {
      left: 75%; }
    #global_header .col-md-push-10 {
      left: 83.33333%; }
    #global_header .col-md-push-11 {
      left: 91.66667%; }
    #global_header .col-md-push-12 {
      left: 100%; }
    #global_header .col-md-offset-0 {
      margin-left: 0%; }
    #global_header .col-md-offset-1 {
      margin-left: 8.33333%; }
    #global_header .col-md-offset-2 {
      margin-left: 16.66667%; }
    #global_header .col-md-offset-3 {
      margin-left: 25%; }
    #global_header .col-md-offset-4 {
      margin-left: 33.33333%; }
    #global_header .col-md-offset-5 {
      margin-left: 41.66667%; }
    #global_header .col-md-offset-6 {
      margin-left: 50%; }
    #global_header .col-md-offset-7 {
      margin-left: 58.33333%; }
    #global_header .col-md-offset-8 {
      margin-left: 66.66667%; }
    #global_header .col-md-offset-9 {
      margin-left: 75%; }
    #global_header .col-md-offset-10 {
      margin-left: 83.33333%; }
    #global_header .col-md-offset-11 {
      margin-left: 91.66667%; }
    #global_header .col-md-offset-12 {
      margin-left: 100%; } }
  @media (min-width: 1200px) {
    #global_header .col-lg-1, #global_header .col-lg-2, #global_header .col-lg-3, #global_header .col-lg-4, #global_header .col-lg-5, #global_header .col-lg-6, #global_header .col-lg-7, #global_header .col-lg-8, #global_header .col-lg-9, #global_header .col-lg-10, #global_header .col-lg-11, #global_header .col-lg-12 {
      float: left; }
    #global_header .col-lg-1 {
      width: 8.33333%; }
    #global_header .col-lg-2 {
      width: 16.66667%; }
    #global_header .col-lg-3 {
      width: 25%; }
    #global_header .col-lg-4 {
      width: 33.33333%; }
    #global_header .col-lg-5 {
      width: 41.66667%; }
    #global_header .col-lg-6 {
      width: 50%; }
    #global_header .col-lg-7 {
      width: 58.33333%; }
    #global_header .col-lg-8 {
      width: 66.66667%; }
    #global_header .col-lg-9 {
      width: 75%; }
    #global_header .col-lg-10 {
      width: 83.33333%; }
    #global_header .col-lg-11 {
      width: 91.66667%; }
    #global_header .col-lg-12 {
      width: 100%; }
    #global_header .col-lg-pull-0 {
      right: auto; }
    #global_header .col-lg-pull-1 {
      right: 8.33333%; }
    #global_header .col-lg-pull-2 {
      right: 16.66667%; }
    #global_header .col-lg-pull-3 {
      right: 25%; }
    #global_header .col-lg-pull-4 {
      right: 33.33333%; }
    #global_header .col-lg-pull-5 {
      right: 41.66667%; }
    #global_header .col-lg-pull-6 {
      right: 50%; }
    #global_header .col-lg-pull-7 {
      right: 58.33333%; }
    #global_header .col-lg-pull-8 {
      right: 66.66667%; }
    #global_header .col-lg-pull-9 {
      right: 75%; }
    #global_header .col-lg-pull-10 {
      right: 83.33333%; }
    #global_header .col-lg-pull-11 {
      right: 91.66667%; }
    #global_header .col-lg-pull-12 {
      right: 100%; }
    #global_header .col-lg-push-0 {
      left: auto; }
    #global_header .col-lg-push-1 {
      left: 8.33333%; }
    #global_header .col-lg-push-2 {
      left: 16.66667%; }
    #global_header .col-lg-push-3 {
      left: 25%; }
    #global_header .col-lg-push-4 {
      left: 33.33333%; }
    #global_header .col-lg-push-5 {
      left: 41.66667%; }
    #global_header .col-lg-push-6 {
      left: 50%; }
    #global_header .col-lg-push-7 {
      left: 58.33333%; }
    #global_header .col-lg-push-8 {
      left: 66.66667%; }
    #global_header .col-lg-push-9 {
      left: 75%; }
    #global_header .col-lg-push-10 {
      left: 83.33333%; }
    #global_header .col-lg-push-11 {
      left: 91.66667%; }
    #global_header .col-lg-push-12 {
      left: 100%; }
    #global_header .col-lg-offset-0 {
      margin-left: 0%; }
    #global_header .col-lg-offset-1 {
      margin-left: 8.33333%; }
    #global_header .col-lg-offset-2 {
      margin-left: 16.66667%; }
    #global_header .col-lg-offset-3 {
      margin-left: 25%; }
    #global_header .col-lg-offset-4 {
      margin-left: 33.33333%; }
    #global_header .col-lg-offset-5 {
      margin-left: 41.66667%; }
    #global_header .col-lg-offset-6 {
      margin-left: 50%; }
    #global_header .col-lg-offset-7 {
      margin-left: 58.33333%; }
    #global_header .col-lg-offset-8 {
      margin-left: 66.66667%; }
    #global_header .col-lg-offset-9 {
      margin-left: 75%; }
    #global_header .col-lg-offset-10 {
      margin-left: 83.33333%; }
    #global_header .col-lg-offset-11 {
      margin-left: 91.66667%; }
    #global_header .col-lg-offset-12 {
      margin-left: 100%; } }
  #global_header nav ul {
    margin: 0; }
    #global_header nav ul li {
      list-style-type: none; }
  #global_header .header_container {
    background: #FFF; }
    #global_header .header_container .menu-item-language {
      position: relative; }
      #global_header .header_container .menu-item-language:after {
        font-family: FontAwesome;
        content: "\f0d7";
        position: absolute;
        top: 14px;
        right: 0px; }
        @media (min-width: 1200px) {
          #global_header .header_container .menu-item-language:after {
            right: 7px; } }
      #global_header .header_container .menu-item-language ul li:after {
        content: ""; }
    #global_header .header_container #logo {
      padding: 0;
      float: left;
      margin: .1em 0px .25em;
      height: 45px; }
      @media (min-width: 768px) {
        #global_header .header_container #logo {
          margin: 0 0 .2em; } }
      @media (min-width: 995px) {
        #global_header .header_container #logo {
          margin-top: 0em;
          margin-bottom: .3em; } }
      #global_header .header_container #logo a {
        display: block;
        margin: 0;
        width: 150px; }
        @media (min-width: 768px) {
          #global_header .header_container #logo a {
            width: 145px; } }
        @media (min-width: 991px) {
          #global_header .header_container #logo a {
            width: 175px; } }
        @media (min-width: 1200px) {
          #global_header .header_container #logo a {
            width: 225px; } }
        #global_header .header_container #logo a svg {
          display: block;
          margin: .7em 0 .4em;
          max-width: 225px;}
          @media (min-width: 992px) {
            #global_header .header_container #logo a svg {
              margin-top: 7px;
                        margin-bottom: .2em; } }
          @media (min-width: 1170px) {
            #global_header .header_container #logo a svg {
              margin-top: 4px; max-height: 41px;} }
    #global_header .header_container .hamburger {
      float: right;
      overflow: hidden;
      margin-top: 10px; }
      @media (min-width: 768px) {
        #global_header .header_container .hamburger {
          display: none; } }
      #global_header .header_container .hamburger .icon-wrapper {
        position: relative;
        height: 1.6875em;
        width: 1.6875em;
        cursor: pointer; }
        #global_header .header_container .hamburger .icon-wrapper span {
          display: block;
          position: absolute;
          height: 0.1875em;
          width: 100%;
          background: #00a7e1;
          border-radius: 0.125em;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s;
          -o-transition: 0.25s;
          transition: 0.25s; }
          #global_header .header_container .hamburger .icon-wrapper span:nth-child(1) {
            top: 0.375em; }
          #global_header .header_container .hamburger .icon-wrapper span:nth-child(2), #global_header .header_container .hamburger .icon-wrapper span:nth-child(3) {
            top: 0.875em; }
          #global_header .header_container .hamburger .icon-wrapper span:nth-child(4) {
            top: 1.375em; }
    #global_header .header_container .hamburger.active span:nth-child(1) {
      top: 0.875em;
      width: 0%;
      left: 50%; }
    #global_header .header_container .hamburger.active span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    #global_header .header_container .hamburger.active span:nth-child(3) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #global_header .header_container .hamburger.active span:nth-child(4) {
      top: 1.375em;
      width: 0%;
      left: 50%; }
    #global_header .header_container .phone_number {
      color: #a8c628;
      font-family: "DIN Next W01 Medium", sans-serif;
      line-height: 1;
      font-size: .9em;
      float: right;
      padding: 8px 0.125em 0;
      cursor: pointer;
      margin-right: 15px; }
      #global_header .header_container .phone_number span {
        display: none; }
        @media (min-width: 765px) {
          #global_header .header_container .phone_number span {
            display: inline-block; } }
      #global_header .header_container .phone_number:after {
        font-family: FontAwesome;
        content: "\f098";
        font-size: 2.35em; }
        @media (min-width: 765px) {
          #global_header .header_container .phone_number:after {
            content: "";
            display: none; } }
      @media (min-width: 400px) {
        #global_header .header_container .phone_number {
          margin-right: 0; } }
      @media (min-width: 768px) {
        #global_header .header_container .phone_number {
          padding: 0.5625em 0.125em 0;
          margin-top: 11px;
          cursor: auto;
          pointer-events: none; } }
      @media (min-width: 995px) {
        #global_header .header_container .phone_number {
          padding-right: .5em;
          margin: 11px 0 0;
          font-size: 1.2em; } }
      @media (min-width: 1200px) {
        #global_header .header_container .phone_number {
          line-height: .9; } }
    #global_header .header_container .demo {
      float: right;
      padding: 6px 12px;
      background: #a8c628;
      font-family: "DIN 1451 W01 Engschrift", sans-serif;
      color: #FFF;
      margin: 10px 20px 0 10px;
      display: none; }
      #global_header .header_container .demo span {
        display: none; }
        @media (min-width: 991px) {
          #global_header .header_container .demo span {
            display: inline-block;
            padding-right: 3px; } }
      @media (min-width: 400px) {
        #global_header .header_container .demo {
          display: block; } }
      @media (min-width: 765px) {
        #global_header .header_container .demo {
          margin-top: 11px;
          margin-right: 0; } }
      @media (min-width: 995px) {
        #global_header .header_container .demo {
          margin-top: 9px;
          font-size: 1em; } }
      @media (min-width: 1200px) {
        #global_header .header_container .demo {
          font-size: 1.2em; } }
      #global_header .header_container .demo:hover {
        text-decoration: none;
        background: #81b315; }
    #global_header .header_container nav.top-nav {
      margin: .4em 0 0;
      display: none;
      width: 276px; }
      @media (min-width: 768px) {
        #global_header .header_container nav.top-nav {
          display: block;
          margin-top: 8px;
          float: right; } }
      @media (min-width: 991px) {
        #global_header .header_container nav.top-nav {
          width: 286px; } }
      @media (min-width: 1200px) {
        #global_header .header_container nav.top-nav {
          width: 378px; } }
      @media (min-width: 768px) {
        #global_header .header_container nav.top-nav.search_active {
          width: 383px; } }
      @media (min-width: 991px) {
        #global_header .header_container nav.top-nav.search_active {
          width: 382px; } }
      @media (min-width: 1200px) {
        #global_header .header_container nav.top-nav.search_active {
          width: 450px; } }
      #global_header .header_container nav.top-nav #search_form {
        float: right;
        position: relative;
        cursor: pointer; }
        @media (min-width: 768px) {
          #global_header .header_container nav.top-nav #search_form {
            padding: 0.4375em 0 0.3125em; } }
        @media (min-width: 1200px) {
          #global_header .header_container nav.top-nav #search_form {
            padding-left: 0.625em;
            padding-right: 0.625em; } }
        #global_header .header_container nav.top-nav #search_form #search-label {
          font-family: "DIN 1451 W01 Engschrift", sans-serif;
          color: #343438;
          display: block;
          font-size: 1em;
          text-align: center;
          padding: 0.1875em 0.625em;
          line-height: 1; }
          @media (min-width: 768px) {
            #global_header .header_container nav.top-nav #search_form #search-label {
              border: solid 1px #E0E0E0;
              border-top: none;
              border-bottom: none;
              padding: 0.1875em 0 0 0.25em;
              margin: 0 0 0 1em; } }
          @media (min-width: 995px) {
            #global_header .header_container nav.top-nav #search_form #search-label {
              font-size: 1.1em; } }
          @media (min-width: 1200px) {
            #global_header .header_container nav.top-nav #search_form #search-label {
              font-size: 1.2em;
              padding: .15em .5em .2175em;
              margin: 0; } }
          @media (max-width: 991px) {
            #global_header .header_container nav.top-nav #search_form #search-label a {
              padding: 0px; } }
          #global_header .header_container nav.top-nav #search_form #search-label .fa {
            height: 0.25em;
            padding: 0 0.25em;
            font-size: .8em;
            position: relative;
            top: -0.125em; }
        #global_header .header_container nav.top-nav #search_form .search_box {
          display: none; }
      #global_header .header_container nav.top-nav #search_form.active {
        width: 178px; }
        #global_header .header_container nav.top-nav #search_form.active #search-label {
          padding: 0.3em 0px 0;
          position: absolute; }
          #global_header .header_container nav.top-nav #search_form.active #search-label span {
            display: none; }
          #global_header .header_container nav.top-nav #search_form.active #search-label .fa {
            color: #646464; }
        #global_header .header_container nav.top-nav #search_form.active:after {
          position: absolute;
          top: 10px;
          font-family: FontAwesome;
          content: "\f002";
          color: #343438;
          left: 8px; }
          @media (min-width: 995px) {
            #global_header .header_container nav.top-nav #search_form.active:after {
              left: 14px; } }
        #global_header .header_container nav.top-nav #search_form.active .search_box {
          display: block;
          width: 100%;
          font-size: 0.875em;
          padding: 0.3125em 0 0.25em 1.75em;
          border: solid 1px #CCC;
          position: relative; }
        @media (min-width: 768px) {
          #global_header .header_container nav.top-nav #search_form.active {
            margin-left: 10px; } }
        @media (min-width: 995px) {
          #global_header .header_container nav.top-nav #search_form.active {
            margin-left: 0px; } }
      #global_header .header_container nav.top-nav .menu {
        font-family: "DIN 1451 W01 Engschrift", sans-serif;
        float: right; }
        #global_header .header_container nav.top-nav .menu li {
          float: left;
          padding: 0.3125em 0.625em;
          padding-left: 0;
          line-height: .75; }
          @media (min-width: 768px) {
            #global_header .header_container nav.top-nav .menu li {
              padding-left: 0;
              padding-right: 0.1em; } }
          @media (min-width: 1200px) {
            #global_header .header_container nav.top-nav .menu li {
              padding-left: 0;
              padding-right: 0.625em; } }
          #global_header .header_container nav.top-nav .menu li.dropdown-item ul {
            max-width: 180px; }
          #global_header .header_container nav.top-nav .menu li.green-menu a {
            background: #a8c628;
            color: #FFF; }
            #global_header .header_container nav.top-nav .menu li.green-menu a:hover {
              background: #81b315; }
          #global_header .header_container nav.top-nav .menu li a {
            font-family: "DIN 1451 W01 Engschrift", sans-serif;
            color: #343438;
            display: block;
            font-size: 1em;
            padding: 0 inherit;
            text-align: center; }
            #global_header .header_container nav.top-nav .menu li a .fa {
              padding: 0 0.25em;
              line-height: .5; }
            @media (min-width: 768px) {
              #global_header .header_container nav.top-nav .menu li a {
                padding: 0.4375em 0.625em;
                padding-left: 0; } }
            @media (min-width: 992px) {
              #global_header .header_container nav.top-nav .menu li a {
                font-size: 1.1em; } }
            @media (min-width: 1200px) {
              #global_header .header_container nav.top-nav .menu li a {
                font-size: 1.2em; } }
            #global_header .header_container nav.top-nav .menu li a:hover {
              text-decoration: none; }
        #global_header .header_container nav.top-nav .menu ul {
          display: none;
          padding: 0.5em 1.25em;
          background: #007eb5;
          position: relative;
          left: -2%;
          width: 104%;
          top: -1.25em;
          margin: 1em 0 0;
          z-index: 1; }
          @media (min-width: 768px) {
            #global_header .header_container nav.top-nav .menu ul {
              position: absolute;
              left: auto;
              width: auto;
              top: auto;
              margin: 0;
              border: solid 1px #E0E0E0;
              background: #f0f0f0; } }
          #global_header .header_container nav.top-nav .menu ul li {
            display: inline-block;
            white-space: nowrap;
            line-height: 1;
            width: 100%; }
            #global_header .header_container nav.top-nav .menu ul li a {
              font-family: "Arial", sans-serif;
              font-size: .8em;
              color: #FFF;
              border: none;
              padding: 0.65em 0.5em .65em 0;
              padding-left: 0; }
              @media (min-width: 768px) {
                #global_header .header_container nav.top-nav .menu ul li a {
                  color: #343434;
                  padding-bottom: 0.65em; } }
              @media (min-width: 768px) {
                #global_header .header_container nav.top-nav .menu ul li a:hover {
                  color: #00a7e1; } }
  #global_header .main_nav_container {
    background: #00a7e1;
    border-bottom: 1px solid #007eb5; }
    @media (max-width: 768px) {
      #global_header .main_nav_container .container {
        padding: 0; } }
    #global_header .main_nav_container .nav-wrapper {
      z-index: 999; }
      @media (max-width: 768px) {
        #global_header .main_nav_container .nav-wrapper {
          padding: 0;
          display: none; } }
      @media (min-width: 768px) {
        #global_header .main_nav_container .nav-wrapper {
          display: block !important; } }
      #global_header .main_nav_container .nav-wrapper nav {
        float: left;
        border-top: solid 0.0625em #646464;
        width: 100%; }
        #global_header .main_nav_container .nav-wrapper nav a {
          color: #646464; }
        @media (min-width: 768px) {
          #global_header .main_nav_container .nav-wrapper nav {
            border: none;
            padding: 0;
            width: auto; } }
        #global_header .main_nav_container .nav-wrapper nav ul li {
          display: inline-block;
          margin: 0px;
          padding: 0px;
          position: relative;
          margin-right: -5px;
          width: 100%;
          border-bottom: solid 1px #007eb5; }
          @media (min-width: 768px) {
            #global_header .main_nav_container .nav-wrapper nav ul li {
              width: auto;
              border: none; } }
          #global_header .main_nav_container .nav-wrapper nav ul li.main-solution {
            background: #007eb5;
            margin-right: -5px;
            border-bottom: solid 1px #00a7e1; }
            @media (min-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li.main-solution {
                border: none; } }
            #global_header .main_nav_container .nav-wrapper nav ul li.main-solution:hover a {
              background: #00a7e1; }
            #global_header .main_nav_container .nav-wrapper nav ul li.main-solution:hover ul li a {
              background: #007eb5; }
              @media (min-width: 768px) {
                #global_header .main_nav_container .nav-wrapper nav ul li.main-solution:hover ul li a {
                  background: #f0f0f0; } }
          #global_header .main_nav_container .nav-wrapper nav ul li .menu-expand {
            position: absolute;
            right: 0.625em;
            top: 0.1875em;
            cursor: pointer;
            font-size: 1.5625em;
            color: #FFF;
            line-height: 1;
            padding: 7px 20px; }
            @media (min-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li .menu-expand {
                display: none; } }
            #global_header .main_nav_container .nav-wrapper nav ul li .menu-expand .fa.fa-caret-down {
              position: relative;
              right: -0.125em;
              top: 0;
              display: none; }
          #global_header .main_nav_container .nav-wrapper nav ul li a {
            color: #FFF;
            text-decoration: none;
            font-family: "DIN 1451 W01 Engschrift", sans-serif;
            padding: 0.5em 0.5em .4em;
            font-size: 1.45em;
            line-height: 1;
            width: auto;
            display: inline-block; }
            @media (min-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li a {
                padding: .4em 1.12em .1em;
                font-size: 1.4em;
                display: block; } }
            @media (min-width: 750px) {
              #global_header .main_nav_container .nav-wrapper nav ul li a {
                padding-left: .75em;
                padding-right: .75em; } }
            @media (min-width: 991px) {
              #global_header .main_nav_container .nav-wrapper nav ul li a {
                font-size: 1.6em;
                padding: 0.3em 1.1em 0.2em; } }
            @media (min-width: 1200px) {
              #global_header .main_nav_container .nav-wrapper nav ul li a {
                font-size: 1.8em;
                padding-right: 1.3em;
                padding-left: 1.3em; } }
          #global_header .main_nav_container .nav-wrapper nav ul li:hover a {
            background: #007eb5; }
            @media (max-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li:hover a {
                background: transparent;
                border-color: transparent; } }
          #global_header .main_nav_container .nav-wrapper nav ul li:hover ul {
            display: block; }
            @media (max-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li:hover ul {
                display: none; } }
            @media (min-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li:hover ul li a {
                background: #f0f0f0; } }
          #global_header .main_nav_container .nav-wrapper nav ul li ul {
            display: none;
            padding: 0.5em 1.25em;
            background: #007eb5;
            position: relative;
            left: -2%;
            width: 104%;
            top: -1.25em;
            margin: 1em 0 0; }
            @media (min-width: 768px) {
              #global_header .main_nav_container .nav-wrapper nav ul li ul {
                position: absolute;
                left: auto;
                width: auto;
                top: auto;
                margin: 0;
                border: solid 1px #E0E0E0;
                background: #f0f0f0; } }
            #global_header .main_nav_container .nav-wrapper nav ul li ul li {
              display: block;
              white-space: nowrap;
              line-height: 1; }
              #global_header .main_nav_container .nav-wrapper nav ul li ul li a {
                font-family: "Arial", sans-serif;
                font-size: .8em;
                color: #FFF;
                border: none;
                padding: 0.65em 0.5em .65em 0; }
                @media (min-width: 768px) {
                  #global_header .main_nav_container .nav-wrapper nav ul li ul li a {
                    color: #343434;
                    padding-bottom: 0.65em; } }
                @media (min-width: 768px) {
                  #global_header .main_nav_container .nav-wrapper nav ul li ul li a:hover {
                    color: #00a7e1; } }
          @media (max-width: 768px) {
            #global_header .main_nav_container .nav-wrapper nav ul li ul.active {
              display: block; } }
/*
#global_header{position:relative;z-index:100}#global_header nav ul{padding:0;margin:0}#global_header nav ul li{list-style-type:none}#global_header .header_container .container{height:50px}#global_header .header_container .container .menu-item-language{position:relative}#global_header .header_container .container .menu-item-language:after{font-family:FontAwesome;content:"\f0d7";position:absolute;top:10px;right:12px}#global_header .header_container .container .menu-item-language ul li:after{content:""}#global_header .header_container .container #logo{padding:0;float:left;margin:.1em 0px .25em}@media (min-width: 768px){#global_header .header_container .container #logo{margin:5px 0 3px}}#global_header .header_container .container #logo a{display:block;margin:0;width:150px;padding:11px 0 4px}@media (min-width: 768px){#global_header .header_container .container #logo a{width:170px;padding:5px 0px 5px}}@media (min-width: 991px){#global_header .header_container .container #logo a{width:220px;padding:0}}@media (min-width: 1200px){#global_header .header_container .container #logo a{width:225px}}#global_header .header_container .container #logo a svg{display:block;margin:0;width:100%}#global_header .header_container .container .phone_number{color:#FFF;font-family:"DIN Next W01 Medium",sans-serif;line-height:1;font-size:.9em;float:right;padding:12px 0.14286em 0;cursor:pointer;margin-right:15px}#global_header .header_container .container .phone_number span{display:none}@media (min-width: 768px){#global_header .header_container .container .phone_number span{display:inline-block}}#global_header .header_container .container .phone_number:after{font-family:FontAwesome;content:"\f098";font-size:2.35em}@media (min-width: 768px){#global_header .header_container .container .phone_number:after{content:"";display:none}}@media (min-width: 400px){#global_header .header_container .container .phone_number{margin-right:0}}@media (min-width: 768px){#global_header .header_container .container .phone_number{cursor:auto;pointer-events:none;margin:20px 40px 16px 0;font-size:1.2em;padding:0;line-height:.8}}#global_header .header_container .container .demo{float:right;padding:0;margin:0 20px 0 10px;display:none}#global_header .header_container .container .demo span{display:none}@media (min-width: 1200px){#global_header .header_container .container .demo span{display:inline-block;padding-right:3px}}@media (min-width: 400px){#global_header .header_container .container .demo{display:block}}@media (min-width: 768px){#global_header .header_container .container .demo{margin:7px 0}}@media (max-width: 768px){#global_header .header_container .container .demo .btn{padding-top:3px;padding-bottom:1px;margin-top:12px}}#global_header .header_container .container nav.top-nav{margin:0;display:none;font-size:1.4em}@media (min-width: 768px){#global_header .header_container .container nav.top-nav{display:block;float:right;margin:8px 0px}}#global_header .header_container .container nav.top-nav .menu-header-container{float:right}#global_header .header_container .container nav.top-nav #search_form{float:right;position:relative;cursor:pointer;display:none}@media (min-width: 992px){#global_header .header_container .container nav.top-nav #search_form{display:block;margin:0 0 0 40px}}#global_header .header_container .container nav.top-nav #search_form .search_form{margin:0}#global_header .header_container .container nav.top-nav #search_form #search-label{font-family:"DIN 1451 W01 Engschrift",sans-serif;color:#FFF;display:block;text-align:center;padding:0.21429em 0.71429em;padding:0 0.71429em;line-height:.7}@media (min-width: 768px){#global_header .header_container .container nav.top-nav #search_form #search-label{padding:10px .25em;margin:0}}@media (max-width: 991px){#global_header .header_container .container nav.top-nav #search_form #search-label a{padding:0px}}#global_header .header_container .container nav.top-nav #search_form #search-label .fa{height:0.28571em;padding:0 0.25em;font-size:.7em;position:relative;top:-0.14286em}#global_header .header_container .container nav.top-nav #search_form .search_box{display:none}#global_header .header_container .container nav.top-nav #search_form .btn{display:none}#global_header .header_container .container nav.top-nav #search_form.active{width:178px;font-size:16px;display:block}@media (min-width: 768px){#global_header .header_container .container nav.top-nav #search_form.active{margin-top:3px}}#global_header .header_container .container nav.top-nav #search_form.active #search-label{padding:0;position:absolute}#global_header .header_container .container nav.top-nav #search_form.active #search-label span{display:none}#global_header .header_container .container nav.top-nav #search_form.active #search-label .fa{display:none}#global_header .header_container .container nav.top-nav #search_form.active:after{position:absolute;font-family:FontAwesome;content:"\f002";color:#343438;left:6px;top:3px;font-size:1em}#global_header .header_container .container nav.top-nav #search_form.active .search_box{display:block;width:100%;font-size:1em;padding:2px 5px 2px 1.75em;border:solid 1px #CCC;position:relative}#global_header .header_container .container nav.top-nav .menu{font-family:"DIN 1451 W01 Engschrift",sans-serif;float:right}#global_header .header_container .container nav.top-nav .menu li{float:left;padding:0 0.71429em;line-height:.7}@media (min-width: 768px){#global_header .header_container .container nav.top-nav .menu li{padding:0 5px;border-left:solid 1px rgba(255,255,255,0.5)}#global_header .header_container .container nav.top-nav .menu li:first-child{border:none}}@media (min-width: 768px){#global_header .header_container .container nav.top-nav .menu li.menu-item-language{padding:0 15px 0 5px}}#global_header .header_container .container nav.top-nav .menu li.dropdown-item ul{max-width:220px;text-align:center}#global_header .header_container .container nav.top-nav .menu li a{font-family:"DIN 1451 W01 Engschrift",sans-serif;color:#FFF;display:block;padding:0 inherit;text-decoration:none;text-align:center}#global_header .header_container .container nav.top-nav .menu li a .fa{padding:0 0.28571em;line-height:.5}@media (min-width: 768px){#global_header .header_container .container nav.top-nav .menu li a{padding:10px 0.5em}}#global_header .header_container .container nav.top-nav .menu li a:hover{text-decoration:none}#global_header .header_container .container nav.top-nav .menu ul{display:none;padding:0.5em 1.42857em;background:#007eb5;position:relative;left:-2%;width:104%;top:-1.25em;margin:1em 0 0;z-index:1}@media (min-width: 768px){#global_header .header_container .container nav.top-nav .menu ul{position:absolute;left:auto;width:auto;top:auto;margin:0;border:solid 1px #f1f2f4;background:#f0f0f0}}#global_header .header_container .container nav.top-nav .menu ul li{display:inline-block;white-space:nowrap;line-height:1;width:100%}#global_header .header_container .container nav.top-nav .menu ul li a{font-family:"Arial",sans-serif;font-size:.8em;color:#FFF;border:none;padding:0.65em 0.5em .65em 0}@media (min-width: 768px){#global_header .header_container .container nav.top-nav .menu ul li a{color:#343434;padding-bottom:0.65em}}@media (min-width: 768px){#global_header .header_container .container nav.top-nav .menu ul li a:hover{color:#00a7e1}}#global_header .main_nav_container{background:#FFF;border-bottom:1px solid #f0f0f0}#global_header .main_nav_container .nav-wrapper{z-index:999}@media (max-width: 769px){#global_header .main_nav_container .nav-wrapper{padding:0;display:none;margin-left:-15px;margin-right:-15px}}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper{display:block !important}}#global_header .main_nav_container .nav-wrapper nav{float:left;width:100%}#global_header .main_nav_container .nav-wrapper nav a{color:#646464}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav{border:none;padding:0;width:auto}}#global_header .main_nav_container .nav-wrapper nav ul li.btn-wrapper{float:right;margin:0 15px 0 0}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item{display:inline-block;margin:0px;padding:0px;position:relative;margin-right:-5px;width:100%;border-top:solid 1px #646464}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:first-child{border:none}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item{width:auto;border:none}}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item .menu-expand{position:absolute;right:0;top:0;cursor:pointer;font-size:1.78571em;color:#343434;line-height:1;padding:7px 30px}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item .menu-expand{display:none}}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item .menu-expand .fa.fa-caret-down{position:relative;right:-0.14286em;top:0;display:none}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item>a{color:#646464;text-decoration:none;font-family:"DIN 1451 W01 Engschrift",sans-serif;padding:0.5em 0.5em .4em;font-size:1.45em;line-height:1;display:inline-block;width:100%}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item>a{padding:0.8em 1.1em .55em;font-size:1.65em;display:block}}@media (min-width: 750px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item>a{padding-left:.75em;padding-right:.75em}}@media (min-width: 1200px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item>a{font-size:2.125em;padding-right:1.15em;padding-left:1.3em;padding-top:0.5em;padding-bottom:.4em}}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:hover a{background:#f0f0f0}@media (max-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:hover a{background:transparent;border-color:transparent}}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:hover a a{background:transparent}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:hover ul{display:block;z-index:999}@media (max-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:hover ul{display:none}}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item:hover ul li a{background:#f0f0f0}}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul{display:none;padding:0 1.42857em;background:#f0f0f0;position:relative;left:-2%;width:104%;top:0;margin:0}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul{position:absolute;left:auto;width:auto;top:auto;margin:0;border:solid 1px #f1f2f4;background:#f0f0f0}}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul li{display:block;white-space:nowrap;line-height:1}#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul li a{font-family:"Arial",sans-serif;font-size:1em;color:#343434;border:none;padding:0.65em 0.5em .65em 0}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul li a{color:#343434;padding-bottom:0.65em}}@media (min-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul li a:hover{color:#00a7e1}}@media (max-width: 768px){#global_header .main_nav_container .nav-wrapper nav ul li.menu-item ul.active{display:block}}.hamburger{float:right;overflow:hidden;margin-top:10px}@media (min-width: 768px){.hamburger{display:none}}.hamburger .icon-wrapper{position:relative;height:1.92857em;width:1.92857em;cursor:pointer}.hamburger .icon-wrapper span{display:block;position:absolute;height:0.21429em;width:100%;background:#00a7e1;border-radius:0.14286em;opacity:1;left:0;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:0.25s;-o-transition:0.25s;transition:0.25s}.hamburger .icon-wrapper span:nth-child(1){top:0.42857em}.hamburger .icon-wrapper span:nth-child(2),.hamburger .icon-wrapper span:nth-child(3){top:1em}.hamburger .icon-wrapper span:nth-child(4){top:1.57143em}.hamburger.active span:nth-child(1){top:1em;width:0%;left:50%}.hamburger.active span:nth-child(2){-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.hamburger.active span:nth-child(3){-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.hamburger.active span:nth-child(4){top:1.57143em;width:0%;left:50%}
*/
