
.icon-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}

.icon-buynow {
	background-image: url('png/buynow.png');
	background-repeat: no-repeat;
}

.icon-meteredrenewals {
	background-image: url('png/meteredrenewals.png');
	background-repeat: no-repeat;
}

.icon-multi-channel {
	background-image: url('png/multi-channel.png');
	background-repeat: no-repeat;
}

.icon-shopping {
	background-image: url('png/shopping.png');
	background-repeat: no-repeat;
}

.icon-garden {
	background-image: url('png/garden.png');
	background-repeat: no-repeat;
}

.icon-card_comparison {
	background-image: url('png/card_comparison.png');
	background-repeat: no-repeat;
}

.icon-china {
	background-image: url('png/china.png');
	background-repeat: no-repeat;
}