
.icon-calendar {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-buynow {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-meteredrenewals {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-multi-channel {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-shopping {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-garden {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-card_comparison {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-china {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}