@charset "UTF-8";
/* fix grid on contact us and events page */
.temp {
  padding-right: 3%;
  box-sizing: border-box; }

/* end fix */
p {
  font-size: 1em;
  line-height: 1;
  color: #000;
  font-family: Arial,sans-serif;
  color: #343438;
  line-height: 1.25; }

a {
  color: #007eb5; }

a.arrow {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: "Arial"; }

a.arrow:hover {
  color: #00A7E1;
  text-decoration: none !important; }

a.arrow::after {
  margin-top: 1px;
  margin-left: 5px;
  content: "\203A";
  transform: translateX(-20px); }

a.arrow::before, a.arrow::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s; }

a.arrow:hover::after, a.arrow:focus::after {
  opacity: 1;
  transform: translateX(0px); }

.blue {
  color: #009AD7 !important; }

.black {
  color: #343438 !important; }

.white {
  color: #FFF !important; }

.eng {
  font-family: 'DIN 1451 W01 Engschrift', sans-serif !important; }

.med {
  font-family: "DIN Next W01 Medium", sans-serif !important; }

.light {
  font-family: "DIN Next W01 Light", sans-serif !important; }

.arial {
  font-family: "Arial", sans-serif !important; }

h1.eyebrow, h2.eyebrow, h3.eyebrow, h4.eyebrow {
  font-weight: normal; }

h2.eyebrow, .eyebrow {
  margin: 30px 0px 20px;
  float: none;
  font-family: "DIN Next W01 Medium";
  color: #343438;
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 6px solid #B3D334;
  padding: 0px 2px;
  background: inherit;
  display: inline-block;
  line-height: 1; }

#template_j .h2-eyebrow {
  margin: 30px 0px 20px;
  font-family: "DIN Next W01 Medium";
  color: #343438;
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 6px solid #B3D334;
  padding: 0px 2px;
  background: inherit;
  line-height: 1;
  font-weight: inherit;
  display: inline-block; }

.section {
  margin-bottom: 15px;
  display: inline-block;
  line-height: 1.15;
  width: 100%; }


/* 
**
**	MASTHEAD
**
*/
.masthead {
  font-family: Arial,sans-serif; }

.masthead .title {
  font-size: 60px;
  line-height: 50px;
  margin: 10px auto 0px;
  max-width: 1180px;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.5px; }

.masthead .subtitle {
  margin: 10px auto 33px;
  line-height: 25px;
  padding-left: 0px;
  color: #FFF;
  max-width: 1180px;
  width: 100%;
  font-size: 1.1em;
  font-family: inherit; }

.masthead .breadcrumbs a {
  font-size: inherit;
  color: #FFF !important;
  text-decoration: none; }

.masthead .breadcrumbs {
  z-index: 75;
  font-size: .9em;
  line-height: 1;
  position: relative;
  font-family: inherit;
  margin: 0px auto 21px;
  padding-top: 20px;
  color: #FFF; }

@media only screen and (max-width: 1550px) {
  .masthead .breadcrumbs {
    width: 84%; }

  .masthead .title {
    font-size: 50px;
    line-height: 1;
    width: 84%; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 84%; } }
@media only screen and (max-width: 1350px) {
  .masthead .breadcrumbs {
    width: 78%; }

  .masthead .title {
    font-size: 50px;
    line-height: 1;
    width: 78%; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 78%; } }
@media only screen and (max-width: 1250px) {
  .masthead .breadcrumbs {
    width: 72%; }

  .masthead .title {
    font-size: 45px;
    line-height: 1;
    width: 72%; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 72%; } }
@media only screen and (max-width: 1250px) {
  .masthead .breadcrumbs {
    width: 75%; }

  .masthead .title {
    font-size: 45px;
    line-height: 1;
    width: 75%; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 75%; } }
@media only screen and (max-width: 1000px) {
  .masthead .breadcrumbs {
    width: 77%; }

  .masthead .title {
    font-size: 35px !important;
    line-height: 1;
    width: 77%;
    padding: 0; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 77%; } }
@media only screen and (max-width: 800px) {
  .masthead .breadcrumbs {
    width: 77%; }

  .masthead .title {
    font-size: 32px !important;
    line-height: 1;
    width: 77%;
    padding: 0; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 77%; } }
@media only screen and (max-width: 700px) {
  .masthead .breadcrumbs {
    width: 90%; }

  .masthead .title {
    font-size: 30px !important;
    line-height: 1 !important;
    width: 90%;
    padding: 0; }

  .masthead .subtitle {
    line-height: 1.15em;
    font-size: 1em;
    width: 90%; } }
@media only screen and (max-width: 500px) {
  .masthead {
    height: 250px; }

  .masthead .breadcrumbs {
    margin-bottom: 10px; } }
/* 
**
**	Template J Styles
**	( Tertiary Pages )
**
*/
#template_j .splitter {
  border-bottom: none; }

.enhanced_text a::after {
  content: none; }

#template_j a {
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 2px 0px;
  text-decoration: none;
  color: #007eb5; }

#template_j a:hover {
  text-decoration: underline; }

#template_j .content li a:hover {
  text-decoration: underline; }

/* rename this */
#template_j h3.section_heading {
  padding: 0px;
  display: inline-block;
  background: transparent none repeat scroll 0% 0%;
  text-transform: none;
  line-height: 1;
  font-size: 1.15em;
  color: #343438;
  font-weight: inherit;
  font-style: inherit;
  font-family: Arial,sans-serif !important;
  margin: 0px 0px 3px; }

#template_j.content_container {
  font-size: 1em;
  line-height: 1;
  color: #000;
  font-family: Arial,sans-serif;
  color: #343438;
  line-height: 1.25; }

#template_j .content {
  font-size: inherit;
  margin-top: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit; }

#template_j .content li {
  font-size: inherit;
  line-height: inherit;
  padding: 0px 60px 0px 0px;
  list-style-type: disc;
  margin: 0px 0px 5px 40px; }

/* 
**
**  Sidebar
**
*/
#template_j .widget h2, #template_j .widget h4, #template_j .widget .widget_title, #template_b .widget .widget_title, #template_b .widget h3 {
  color: #111;
  font-size: 32px;
  line-height: 36px;
  font-family: "DIN 1451 W01 Engschrift";
  font-weight: inherit;
  text-transform: inherit;
  margin-bottom: 10px; }

/* 
**
**  Contact Us Page
**
*/
.our-locations-wrapper {
  font-family: Arial, sans-serif; }

#marketoFormContainer .mktoForm input[type="text"], #marketoFormContainer .mktoForm input[type="url"], #marketoFormContainer .mktoForm input[type="email"], #marketoFormContainer .mktoForm input[type="tel"], #marketoFormContainer .mktoForm input[type="number"], #marketoFormContainer .mktoForm input[type="date"], #marketoFormContainer .mktoForm select.mktoField, #marketoFormContainer .mktoForm textarea.mktoField {
  box-shadow: none !important;
  padding: 16px 18px !important;
  border: 1px solid #ABABAB !important;
  background-color: #FFF !important;
  line-height: 1.1em !important;
  font-size: 14px;
  color: #222021 !important;
  width: 100% !important;
  border-radius: 0px !important;
  transition: all 0.3s ease 0s;
  box-sizing: border-box; }

#marketoFormContainer .mktoForm input:focus, #marketoFormContainer .mktoForm select.mktoField:focus, #marketoFormContainer .mktoForm textarea.mktoField:focus {
  border: 1px solid #00a7e1 !important;
  font-size: 14px;
  color: #00a7e1 !important; }

#marketoFormContainer .mktoForm label.mktoLabel {
  color: #ABABAB !important;
  width: auto !important;
  font-family: arial,Helvetica,sans-serif !important;
  font-size: 14px;
  font-weight: normal !important;
  position: absolute !important;
  padding: 0px;
  top: 19px;
  left: 20px; }

#marketoFormContainer .mktoForm .mktoFieldWrap {
  position: relative; }

#marketoFormContainer .mktoForm .mktoAsterix {
  display: none; }

.mktoClear {
  clear: both; }

#marketoFormContainer .mktoForm select#Country {
  color: #ABABAB !important;
  font-size: 14px !important; }

#marketoFormContainer .mktoForm select#Country:focus {
  color: #222021 !important;
  font-size: 14px !important; }

#marketoFormContainer .mktoForm select#Country.selected {
  color: #222021 !important;
  font-size: 14px !important; }

#Country {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff; }

#Country, #State, #Partner_Channel__c, #Business_Unit__c {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: #fff url("../img/arrowdown.png") no-repeat 96% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

#Country:focus, #State:focus {
  outline: none; }

.row2 .button {
  padding: 10px 12px 6px;
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  transition: all 200ms ease-out 0s;
  font-family: "DIN Next W01 Medium";
  font-size: 1.1em;
  text-transform: uppercase;
  color: #FFF;
  background-color: #00A7E1;
  border: 2px solid #007EB5;
  line-height: 1;
  cursor: pointer; }

.row2 .button:hover {
  background: #007EB5 none repeat scroll 0% 0%;
  color: #FFF; }

/*
**
**  Persistent Contact Us
**
*/
.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99; }

.window-overlay.expanded {
  display: inline-block; }

.call-to-action-tab {
    position: absolute;
    height: 43px;
    background: #6F29D3 none repeat scroll 0% 0%;
    transition: all 250ms ease-in-out 0s;
    padding: 12px 15px 4px;
    cursor: pointer;
    top: 352px;
    left: -90px;
    text-align: center;
    color: #FFF;
    width: 135px;
    font-size: 1.25em;
    font-family: "DIN Next W01 Medium";
    transform: rotate(-90deg);
    z-index: 100;
    box-sizing: border-box;
}

/*
.row .span_8{transition: all 500ms ease-in-out 0s;}
.expanded .row .span_8 {width: 100%; }


.row .span_3{overflow: hidden;}
.expanded .row .span_3{display: none;}
*/
.call-to-action-tab .icon-wrapper {
  height: 27px;
  width: 100%; }

.overlay-wrapper {
  z-index: 100;
  border-left: 1px solid #BCBCBC;
  width: 437px;
  position: fixed;
  top: 0px;
  right: -438px;
  height: 100%;
  background: #EBEBEB none repeat scroll 0% 0%;
  transition: all 500ms ease-in-out 0s;
  border-right: none; }

.overlay {
  padding: 0 30px;
  box-sizing: border-box;
  position: relative; }

.overlay-wrapper.expanded {
  right: 0px; }

.collapse {
  float: right;
  font-size: 2em;
  margin-right: 10px;
  cursor: pointer; }

.form-wrapper {
  width: 375px; }

/* Contact Us - Marketo Overrides
********************************/
/*
**
** Template F
**


#template_f .widgetized.left_side, #template_f .widgetized.right_side {
    display: none;
}

.widget_area.content_row{display: none;}
*/
#template_f {
  font-family: Arial, Sans Serif;
  font-size: 16px;
  color: #343438; }

#template_f p {
  font-size: inherit;
  line-height: 1.15;
  color: inherit;
  font-family: inherit; }

#template_f ul {
  margin: 0px 15px; }

#template_f li {
  list-style-type: disc;
  margin: 5px 0 0; }

/*#template_f a, #template_f a.link {
    color: inherit;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 2px 0px;
    text-decoration: none;
    color: #007eb5;
}*/
#template_f .splitter {
  border: none; }

#template_f .widget:first-child {
  border-top: none; }

#template_f h2, #template_f .widgetized.flex .featured_content.ww_page .header, #template_f .widgetized.right_side .featured_content.ww_page .header, h3.eyebrow {
  line-height: 1;
  font-family: "DIN Next W01 Medium";
  font-size: 1.2em;
  color: #343438;
  text-transform: inherit;
  margin-bottom: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  padding: 0px 2px;
  border-bottom: 6px solid #B3D334; }

#template_f .flex .featured_content .content .header, #template_f .flex .featured_content .content .body, #template_f .flex .featured_content .content .body p {
  text-align: left;
  font-size: 16px;
  line-height: 17px;
  color: #343438;
  font-family: Arial;
  margin-bottom: 0px;
  line-height: 1.15;
  height: 60px; }

#template_f .widgetized.flex .featured_content.ww_page .title h4, #template_f .widgetized.right_side .featured_content.ww_page .title h4 {
  padding: 0px;
  display: inline-block;
  background: transparent none repeat scroll 0% 0%;
  text-transform: none;
  line-height: 1;
  font-size: 19px;
  font-weight: inherit;
  font-style: inherit;
  margin: 0px 0px 3px; }

#template_f .widgetized.flex .featured_content.ww_page .button,
#template_f .widgetized.right_side .featured_content.ww_page .button {
  margin: 19px 0 12px; }

#template_f .widgetized.flex .featured_content .title, #template_f .widgetized.right_side .featured_content .title {
  margin: 0 0 5px;
  display: block; }

#template_f .widgetized.flex .featured_content.ww_page .content, #template_f .widgetized.right_side .featured_content.ww_page .content {
  position: relative;
  margin: 10px inherit 15px;
  box-sizing: border-box;
  padding-top: 15px;
  min-height: 180px;
  padding-right: 10px; }

#template_f .solution-content-wrapper {
  border-bottom: solid 1px #CCC; }

#template_f .row .content:first-child {
  border-right: solid 1px #CCC; }

#template_f .widgetized.flex .featured_content.ww_page .intro, #template_f .widgetized.right_side .featured_content.ww_page .intro {
  margin: 13px 0 !important; }

/*
**
** Header Nav
**
*/
#template_k .sidebar_container .categories li, #template_b.blog .sidebar_container .categories li, #template_k .sidebar_container .archives li, #template_b.blog .sidebar_container .archives li, #template_k .sidebar_container .about li, #template_b.blog .sidebar_container .about li {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 12px !important;
  font-family: Arial,sans-serif; }

#template_b a {
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
  color: #007eb5;
  display: inline;
  text-decoration: none;
  font-family: Arial,sans-serif;
  text-transform: none;
  line-height: 1.15; }

.main_content .posts .container .date {
  float: left;
  font-size: 13px;
  font-family: Arial,sans-serif; }

.posts_list .date_select {
  font-size: 13px;
  line-height: 17px;
  margin: 20px 0px;
  color: #222021;
  font-family: Arial,sans-serif; }

/*
**
** Footer
**
*/
#global_footer {
  color: #FFF;
  padding-top: 21px;
  min-height: 110px;
  background: #F0F0F0;
  border: solid 1px #b1b1b1; }

#global_footer .wrapper {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 20px; }

#global_footer a {
  color: #007eb5;
  text-decoration: none; }

#global_footer a:hover {
  text-decoration: underline; }

#global_footer .copyright,
#global_footer .trademark {
  font-size: 10px;
  line-height: 14px;
  font-family: Arial, sans-serif; }

#global_footer .left {
  font-family: Arial, sans-serif; }

#global_footer .left .footer_menu {
  margin: 8px 0 0 0;
  font-size: 12px;
  line-height: 26px; }

#global_footer .left .footer_menu li {
  float: left; }

#global_footer .left .footer_menu li:after {
  color: #FFF;
  content: '|';
  padding: 0 5px; }

#global_footer .left .footer_menu li:last-child:after {
  content: ''; }

#global_footer .left .footer_menu li a {
  color: #009ad7;
  text-decoration: none; }

#global_footer .left .mobile_footer_menu {
  font-size: 12px;
  margin: 14px 0 21px 0;
  line-height: 26px; }

#global_footer .left .mobile_footer_menu li a {
  color: #009ad7;
  text-decoration: none; }

#global_footer .right .title {
  color: #efeeec;
  font-size: 24px;
  line-height: 26px;
  font-family: 'DIN 1451 W01 Engschrift';
  text-transform: uppercase; }

#global_footer .right .social {
  margin-top: 13px; }

#global_footer .right .social li {
  float: left;
  margin-left: 5px; }

#global_footer .right .social li:first-child {
  margin-left: 0px; }

#global_footer .right .social a {
  width: 30px;
  height: 30px;
  display: block; }

#global_footer .right .social a.twitter {
  position: absolute;
  background: url("../img/footer/twitter_gray.png");
  z-index: 1; }

#global_footer .right .social a.twitter-on {
  position: absolute;
  background: url("../img/footer/twitter_color.png");
  display: none;
  z-index: 2; }

#global_footer .right .social a.facebook {
  background: url("../img/footer/facebook_gray.png"); }

#global_footer .right .social a.facebook:hover {
  background: url("../img/footer/facebook_color.png"); }

#global_footer .right .social a.linkedin {
  background: url("../img/footer/linkedin_gray.png"); }

#global_footer .right .social a.linkedin:hover {
  background: url("../img/footer/linkedin_color.png"); }

#global_footer .right .social a.vimeo {
  position: absolute;
  margin-left: 30px;
  background: url("../img/footer/vimeo_gray.png"); }

#global_footer .right .social a.vimeo-on {
  position: absolute;
  margin-left: 30px;
  background: url("../img/footer/vimeo_color.png");
  display: none; }

#global_footer .right .social a.rss {
  position: absolute;
  margin-left: 64px;
  background: url("../img/footer/rss_gray.png"); }

#global_footer .right .social a.rss-on {
  position: absolute;
  margin-left: 64px;
  background: url("../img/footer/rss_color.png");
  display: none; }

.footer-column {
  width: 30%;
  float: left;
  padding: 0px 2.5%;
  overflow: hidden; }

#footer-left {
  padding-left: 0; }

#footer-right {
  padding-right: 0px; }

#global_footer .footer {
  color: #343438; }

.contact-left ul, .footer-column ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

.contact-left ul, .footer-column ul {
  line-height: 30px;
  color: #007eb5;
  font-family: Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 10px; }

.contact-middle .head, .contact-left .head, .footer-column .head {
  font-family: 'DIN 1451 W01 Engschrift';
  font-size: 30px;
  width: 100%;
  color: #343438;
  margin-bottom: 5px;
  text-transform: uppercase; }

.contact-box {
  background-color: #FFF;
  width: 790px;
  height: auto;
  float: right;
  clear: right;
  margin-bottom: 30px; }

.contact-left {
  height: 240px;
  width: 280px;
  margin-left: 30px;
  float: left; }

.contact-middle {
  height: 240px;
  width: 280px;
  float: left; }

.contact-right {
  height: 265px;
  width: 200px;
  background-color: #555;
  float: right; }

.drlogo, .social-shares {
  width: 100%;
  height: 55px;
  background-color: #FFF;
  margin-top: 20px;
  margin-bottom: 10px; }

.drlogo {
  width: 90%; }

.address-wrapper {
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 19px;
  color: #343438;
  margin-top: 15px; }

.social-icon-wrapper {
  width: 38px;
  height: 38px;
  margin-left: 11px;
  margin-right: 11px;
  float: left;
  margin-top: 0px; }

.social-icon-wrapper:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8; }

.social-icon-wrapper:last-child {
  margin-right: 0px; }

.social-icon-wrapper:first-child {
  margin-left: 0px; }

.disclaimer {
  width: 500px;
  height: auto;
  margin-left: 30px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #343438;
  float: left;
  margin-bottom: 10px; }

#template_j a.button, #template_j .content .cta_box a.button {
  padding: 12px 12px 7px;
  margin: 10px 0 0;
  display: inline-block;
  text-decoration: none;
  transition: all 200ms ease-out 0s;
  font-family: "DIN Next W01 Medium";
  font-size: 1.1em;
  text-transform: uppercase;
  color: #FFF;
  background-color: #00A7E1;
  border: 2px solid #007EB5;
  line-height: 1;
  cursor: pointer;
  font-style: inherit;
  font-weight: normal !important; }

#template_j .content .cta_box a.button:hover {
  background: #007EB5 none repeat scroll 0% 0%;
  color: #FFF; }

a.button {
  padding: 12px 12px 7px;
  margin: 0px;
  display: inline-block;
  text-decoration: none;
  transition: all 200ms ease-out 0s;
  font-family: "DIN Next W01 Medium";
  font-size: 1.1em;
  text-transform: uppercase;
  color: #FFF;
  background-color: #00A7E1;
  border: 2px solid #007EB5;
  line-height: 1;
  cursor: pointer; }

a.button:hover {
  background: #007EB5 none repeat scroll 0% 0%;
  color: #FFF; }

#template_j a.button.opposite {
  background: transparent;
  border-color: white; }

#template_j a.button.opposite:hover {
  background: #FFF;
  color: #00A7E1; }

@media handheld, only screen and (max-width: 1000px) {
  .row .span_1, .row .span_2, .row .span_3, .row .span_4, .row .span_5, .row .span_6, .row .span_7, .row .span_8, .row .span_9, .row .span_10, .row .span_11, .row .span_12 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px; }

  .row2 .span_1, .row2 .span_2, .row2 .span_3, .row2 .span_4, .row2 .span_5, .row2 .span_6, .row2 .span_7, .row2 .span_8, .row2 .span_9, .row2 .span_10, .row2 .span_11, .row2 .span_12 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px; }

  /* FOOTER */
  #footer-left, #footer-middle, #footer-right {
    margin-left: 0%; }

  .contact-box {
    width: 100%;
    margin: 35px 0 0;
    box-sizing: border-box; }

  .disclaimer {
    width: 100%;
    white-space: normal;
    padding: 0 10px 10px;
    box-sizing: border-box;
    margin: 0; }

  .contact-left, .contact-middle {
    margin-left: 0;
    height: inherit; }

  .address-wrapper {
    margin: 15px 0; }

  .contact-middle .head, .contact-left .head, .footer-column .head {
    cursor: pointer; } }
@media handheld, only screen and (max-width: 525px) {
  #footer-left, #footer-middle, #footer-right {
    width: 95%;
    padding: 0%; } }
/****************************
 *   Detailed Link Styles   *
 ****************************/
.detailed-link-wrapper {
  margin-top: 20px;
  margin-right: 4%; }
  @media (max-width: 1000px) {
    .detailed-link-wrapper {
      margin-right: 0%; } }
  .detailed-link-wrapper .detailed-link {
    margin: 0px;
    border-top: solid 1px #8f9094;
    padding: 20px 0;
    margin: 0px; }
    .detailed-link-wrapper .detailed-link:first-child {
      border: none; }
    .detailed-link-wrapper .detailed-link a {
      margin: 0px 0px 10px;
      text-decoration: none;
      font-family: "DIN Next W01 Medium", sans-serif;
      font-size: 1.1em; }
    .detailed-link-wrapper .detailed-link .title {
      font-size: 1.4em;
      margin: 0;
      color: #343434;
      font-family: "DIN Next W01 Medium", sans-serif; }
    .detailed-link-wrapper .detailed-link p.description {
      font-size: 1em;
      color: #343434;
      margin: 7px 0 15px;
      line-height: 1.25; }
    .detailed-link-wrapper .detailed-link .short-detail {
      font-size: 1em;
      width: 100%;
      color: #81b315;
      margin: 0 0 7px;
      font-family: "DIN Next W01 Medium", sans-serif; }
    @media (max-width: 1000px) {
      .detailed-link-wrapper .detailed-link {
        margin: 0px; } }

/*******************************
    Grid Styles to be deleted
    when bootstrap is implemented
*******************************/
.row2 {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }
  .row2 .span_4 {
    width: 32.75%; }
    @media (max-width: 1000px) {
      .row2 .span_4 {
        box-sizing: border-box;
        width: 45%;
        float: left; } }
    @media (max-width: 750px) {
      .row2 .span_4 {
        width: 100%;
        float: none; } }
  .row2 .span_8 {
    width: 66.4%; }
    @media (max-width: 1000px) {
      .row2 .span_8 {
        box-sizing: border-box;
        width: 55%;
        float: left; } }
    @media (max-width: 750px) {
      .row2 .span_8 {
        width: 100%;
        float: none; } }

/*

.sidebar-item a.button{ padding: 10px 12px 6px; margin: 0 0 0px; display: inline-block; color: #00a7e1; text-decoration: none;
    -webkit-transition: all 200ms ease-out;
    -moz-transition:all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    font-family: "DIN Next W01 Medium";
    font-size: 1.1em;
    text-transform: uppercase;
    color: #FFF;
    background-color: #00A7E1;
    border: 2px solid #007EB5;
    line-height: 1;
    cursor: pointer;
    float: left;
    color: rgb(255, 255, 255) !important;

}

.sidebar-item a.button:hover{background: #007EB5; color: #FFF;}

 .featured_wrapper{margin-top: 30px;}


a.brackets{ 
    text-transform: inherit;
    font-size: 1.2em;
    text-decoration: none;
    margin: 45px 16px 0;
    display: block;
    float: left;
     color: #007EB5;
    font-family: "DIN 1451 W01 Engschrift",sans-serif;
    text-transform: uppercase;
}
a.brackets:hover{text-decoration: none; color: #00a7e1;}
a.brackets::before{
    content:"[ ";
}
a.brackets::after{
    content: " ]";
}

 */
.sidebar {
  background: #f0f0f0;
  margin: 15px 0;
  padding: 25px;
  border: solid 1px #bcbcbc;
  box-sizing: border-box;
  /************************************
   *   Detailed Link Sidebar Styles   *
   *----------------------------------*
   * These are additional styles to   *
   * detailed-link.scss               *
   ************************************/
  /********************************
   *   Accordion Sidebar Styles   *
   *******************************/ }
  .sidebar .eyebrow {
    margin: 0 20px 10px 0; }
  .sidebar .title {
    font-size: 1.4em;
    margin: 0;
    color: #343434;
    font-family: "DIN Next W01 Medium", sans-serif; }
  .sidebar .detailed-link-wrapper {
    margin-top: 20px;
    margin-right: 0; }
    .sidebar .detailed-link-wrapper .detailed-link {
      margin: 0px;
      border-top: solid 1px #8f9094; }
      .sidebar .detailed-link-wrapper .detailed-link:first-child {
        border: none; }
    .sidebar .detailed-link-wrapper a.brackets {
      margin: 5px 1% 0; }
  .sidebar .accordion {
    margin: 10px 0 0; }
    .sidebar .accordion .rail_tabbed_content {
      font-size: 1em; }
      .sidebar .accordion .rail_tabbed_content .tab .header {
        padding: 15px 0 0;
        cursor: pointer;
        font-size: 1.05em;
        font-family: "DIN Next W01 Medium", sans-serif;
        color: #343438; }
        .sidebar .accordion .rail_tabbed_content .tab .header .arrow {
          float: right;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid #646464;
          margin: 5px 10px 5px 0;
          -webkit-transition: all 200ms;
          -moz-transition: all 200ms;
          -o-transition: all 200ms;
          transition: all 200ms; }
          .sidebar .accordion .rail_tabbed_content .tab .header .arrow.selected {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg); }
      .sidebar .accordion .rail_tabbed_content .tab .content {
        padding: 10px 0; }
        .sidebar .accordion .rail_tabbed_content .tab .content ul {
          font-family: Arial;
          padding-left: 15px;
          font-size: 0.9em; }
          .sidebar .accordion .rail_tabbed_content .tab .content ul li {
            margin: 10px 0px;
            list-style-type: disc; }

/*******************************
    Remove this when global.css
    is discontinuted
*******************************/
.rail, .content_container {
  background: #FFF; }

/*

.featured_area .copy_wrapper {
    margin: 100px auto 0px;
}


@media handheld, only screen and (max-width: 1000px) {
    .webinars .sidebar-items{
    margin-right: 0%;
    }
}
*/

/*# sourceMappingURL=tmpNewGlobal.css.map */
