.brick-resources-filter {
  background-color: $white;
  padding-bottom: 2rem;
  transition: all 0.2s;

  &.loading {
    opacity: 0.5;
    filter: grayscale(1);
    pointer-events: none;
  }

  .resource-select,
  .resource-select.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      padding-bottom: 3rem;
    }

    label {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }

    .dr_select,
    .select2-container {
      margin: 0.5rem;
    }

    .select2-results__option {
      span {
        opacity: 0.5;
      }
    }
  }

  // Featured Bar
  .featured-bar {
    background-color: #e1f6fe;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% auto;

    @include media-breakpoint-up(md) {
      margin-bottom: 6rem;
    }

    .featured-bar--img img {
      width: 100%;

      @include media-breakpoint-up(md) {
        transform: scale(1.5);
        transform-origin: 0% 16%;
      }

      @include media-breakpoint-up(xl) {
        transform: scale(1.35);
        transform-origin: 0% 45%;
      }
    }

    .featured-bar--copy {
      padding-top: 2rem;
      padding-bottom: 2rem;

      @include media-breakpoint-up(md) {
        padding-left: 6rem;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 4rem;
      }

      h2 {
        font-size: 1.875rem;
      }

      p {
        margin-bottom: 2rem;
      }

    }
  }
}