.link--fancy {
  display: inline-block;
  transition: color 0.2s;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    outline: none;

    &::after {
      width: 100%;
    }

    i {
      transform: translate(4px, 4px);
    }
  }

  &::after {
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background-color: $link-color;
    transition: width 0.2s ease-in-out;
  }

  i {
    font-size: inherit;
    transition: transform 0.3s;
    transform: translate(0, 4px);
  }
}
