.dr_progress-navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $navy;
  text-align: center;
  display: none;
  box-shadow: 0 0.25rem 0.5rem 0.125rem rgba(0,0,0,.175);

  @include media-breakpoint-up(lg) {
    display: block;
  }

  a {
    display: inline-block;
    padding: 0.75rem 0 0.5rem;
    color: rgba(255,255,255,0.9);
    font-size: 0.875rem;
    text-transform: uppercase;
    max-width: 8rem;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      display: block;
      background-color: $altGray;
      border-radius: 50%;
      position: absolute;
      top: -0.25rem;
      right: 0;
      left: 0;
      margin: 0 auto;
      transition: background-color 0.2s;
    }

    &.active {
      &::before {
        background-color: $green;
      }
    }
  }

  .dr_progress-bar {
    position: absolute;
    top: -0.1255rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: rgba(255,255,255,0.1);

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $green;
      transition: width 0.2s;
    }
  }

  .col {
    width: 1px; // Fix for flexbox growth issue
  }
}

.progress-nav-active {
  padding-top: 8rem !important;

  @include media-breakpoint-up(lg) {
  padding-top: 16rem !important;
  }
}