.brick-feature {
  padding: 3rem 0;

  h2 {
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  img {
    margin-bottom: 2rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      position: sticky;
      top: 8rem;
      margin-bottom: 0;
    }
  }

  .video-container {
    @include media-breakpoint-up(md) {
      position: sticky;
      top: 6rem;
      margin: 0;
    }
  }

  .content-chunk {
    margin-bottom: 2rem;
  }
}