.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 15%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*Set the color of the icon*/
//svg polygon,
//polyline,
//svg path,
//svg rect {
  //fill: $loader-icon;
//}

/* Loader Squares */
.loaderContainer {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
}

.square {
  animation: change 2s infinite;
  background-color: $loader-square;
  float: left;
  height: 6px;
  margin: 2px;
  width: 6px;
}

.square.top {
  animation-delay: 0.25s;
}

.square.topright {
  animation-delay: 0.5s;
}
.square.left {
  animation-delay: 1.75s;
}
.square.right {
  animation-delay: 0.75s;
}
.square.bottomleft {
  animation-delay: 1.5s;
}
.square.bottom {
  animation-delay: 1.25s;
}
.square.bottomright {
  animation-delay: 1s;
}
.spacer {
  background-color: transparent;
  float: left;
  height: 6px;
  margin: 2px;
  width: 6px;
}
@keyframes change {
  0% {
    transform: scale(1);
    animation-timing-function: linear;
  }
  12.5% {
    transform: scale(1.4);
    animation-timing-function: linear;
    background-color: $loader-icon;
  }
  25% {
    transform: scale(1);
    animation-timing-function: linear;
  }
}