/*Brand colors*/
/*DR Font Family */
@media (min-width: 768px) {
  .flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; } }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

@media (min-width: 768px) {
  .justify-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; } }

@media (min-width: 768px) {
  .flexbox-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; } }

@media (min-width: 768px) {
  .flexbox-align-flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; } }

/*!
 * fullPage 2.9.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100% !important; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 40px; }

#fp-nav.left {
  left: 40px; }

.fp-viewing-index #fp-nav,
.fp-viewing-footer #fp-nav {
  opacity: 0;
  -webkit-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  transition: opacity 150ms;
  -ms-pointer-events: none;
  pointer-events: none; }

.loading #fp-nav {
  display: none; }

@media (min-width: 1600px) {
  #fp-nav.left {
    left: 50%;
    margin-left: -760px; } }
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 29px;
  height: 29px;
  margin: 7px;
  position: relative; }
  #fp-nav ul li:first-of-type, #fp-nav ul li:last-of-type,
  .fp-slidesNav ul li:first-of-type,
  .fp-slidesNav ul li:last-of-type {
    display: none; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 21px;
  width: 21px;
  border-color: #00A7E1;
  margin: 4px;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  #fp-nav ul li a.active span::before, #fp-nav ul li a.active span::after,
  .fp-slidesNav ul li a.active span::before,
  .fp-slidesNav ul li a.active span::after,
  #fp-nav ul li:hover a.active span::before,
  #fp-nav ul li:hover a.active span::after,
  .fp-slidesNav ul li:hover a.active span::before,
  .fp-slidesNav ul li:hover a.active span::after {
    opacity: 1;
    border-color: #00A7E1;
    margin: -6px 0 0 -6px;
    height: 29px;
    width: 29px;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s; }
  #fp-nav ul li a.active span::after,
  .fp-slidesNav ul li a.active span::after,
  #fp-nav ul li:hover a.active span::after,
  .fp-slidesNav ul li:hover a.active span::after {
    margin: 3px 0 0 3px;
    height: 11px;
    width: 11px;
    background-color: #00A7E1; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span,
#fp-nav ul li a span::before,
.fp-slidesNav ul li a span::before,
#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 29px;
  width: 29px;
  border: 2px solid #003058;
  background: transparent;
  left: 0;
  top: 0; }

#fp-nav ul li a span::before,
.fp-slidesNav ul li a span::before,
#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  content: '';
  height: 0;
  width: 0;
  opacity: 0;
  border-color: transparent;
  margin: 14.5px; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  border-color: #00A7E1; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  color: #00A7E1;
  font-size: 18px;
  white-space: nowrap;
  max-width: 220px;
  display: block;
  opacity: 0;
  width: 0;
  -ms-pointer-events: none;
  pointer-events: none;
  cursor: pointer;
  top: 0;
  line-height: 29px; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
  -ms-pointer-events: auto;
  pointer-events: auto; }

#fp-nav ul li:hover a:not(.active) + .fp-tooltip {
  color: #BEBEBE; }

#fp-nav ul li .fp-tooltip.right {
  right: 34px; }

#fp-nav ul li .fp-tooltip.left {
  left: 34px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media (max-width: 1275px) {
  #fp-nav.left {
    left: 20px; }

  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-animation: fadeOut 1s ease 500ms normal 1 forwards running;
    -o-animation: fadeOut 1s ease 500ms normal 1 forwards running;
    animation: fadeOut 1s ease 500ms normal 1 forwards running; }

  #fp-nav ul li:hover a:not(.active) + .fp-tooltip {
    display: none; }

  #fp-nav ul li .fp-tooltip.left {
    background-color: #fff;
    max-width: 100vw;
    padding: 2px 13px 2px 36px;
    border-radius: 15px;
    left: -2px;
    margin-top: -2px; } }
@media (max-width: 700px) {
  #fp-nav.left {
    left: 10px; } }
body .body-wrapper {
  overflow: visible; }
  body .body-wrapper .body-inner-wrapper {
    position: static;
    transform: none; }
    body .body-wrapper .body-inner-wrapper.main-body {
      margin-top: 0; }
      body .body-wrapper .body-inner-wrapper.main-body .heroHeader {
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: calc(100vh - 164px); }
    body .body-wrapper .body-inner-wrapper.navbar-fixed-bottom {
      position: fixed;
      transform: translateX(-50%);
      display: none; }
      body .body-wrapper .body-inner-wrapper.navbar-fixed-bottom.active {
        display: block; }
body.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0; }

#demoNow .sectionBG {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px; }
#demoNow .hero-callout {
  border: 1px solid #B6E8FB;
  height: 75px; }
  #demoNow .hero-callout a {
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-left: 1px solid #B6E8FB;
    border-right: 1px solid #B6E8FB;
    line-height: 73px;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    margin-left: -1px; }
    #demoNow .hero-callout a + a {
      margin-left: 0; }
    #demoNow .hero-callout a:hover, #demoNow .hero-callout a:focus {
      text-decoration: none;
      background-color: #000000; }
    #demoNow .hero-callout a #computer,
    #demoNow .hero-callout a #downArrows,
    #demoNow .hero-callout a #envelope,
    #demoNow .hero-callout a span {
      display: inline-block;
      vertical-align: middle;
      fill: #fff; }
    #demoNow .hero-callout a #computer {
      width: 31px;
      height: 35px;
      margin-right: 15px; }
    #demoNow .hero-callout a #downArrows {
      width: 17px;
      height: 17px;
      margin-left: 10px; }
    #demoNow .hero-callout a #envelope {
      width: 33px;
      height: 22px;
      margin-right: 15px; }
#demoNow .footer-callout {
  padding: 30px 15px;
  font-size: 32px; }
  #demoNow .footer-callout span {
    vertical-align: middle;
    margin-right: 25px; }
#demoNow .vh100 {
  height: 100vh; }
#demoNow .content-wrap {
  max-width: 960px; }
  #demoNow .content-wrap p {
    font-size: 17px;
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 27px 20px rgba(255, 255, 255, 0.8); }
#demoNow .sectionFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-flex-line-pack: space-around;
  align-content: space-around;
  overflow: hidden; }
  #demoNow .sectionFlex .content-wrap {
    max-width: 820px; }
  #demoNow .sectionFlex .demo-wrap {
    margin-left: auto;
    position: relative; }
    #demoNow .sectionFlex .demo-wrap .laptop {
      position: relative;
      display: block;
      -ms-pointer-events: none;
      pointer-events: none; }
    #demoNow .sectionFlex .demo-wrap .screen {
      position: absolute;
      top: 36px;
      left: 173px;
      width: 668px;
      height: 421px;
      background-color: #ffffff; }
    #demoNow .sectionFlex .demo-wrap .phone {
      position: absolute;
      right: 65px;
      top: 220px;
      z-index: 3;
      -ms-pointer-events: none;
      pointer-events: none; }
#demoNow .owl-carousel {
  z-index: auto; }
#demoNow .owl-theme .owl-dots {
  margin-top: 60px;
  padding: 0;
  position: relative; }
  #demoNow .owl-theme .owl-dots .owl-dot {
    padding: 0 0 15px;
    margin: 0 55px; }
    #demoNow .owl-theme .owl-dots .owl-dot span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: relative;
      background: transparent;
      border: 1px solid #BEBEBE; }
    #demoNow .owl-theme .owl-dots .owl-dot.active:first-child span::after, #demoNow .owl-theme .owl-dots .owl-dot.active:last-child span::after {
      display: block;
      -webkit-animation: progress 10s linear 0s normal 1 forwards running;
      -o-animation: progress 10s linear 0s normal 1 forwards running;
      animation: progress 10s linear 0s normal 1 forwards running; }
    #demoNow .owl-theme .owl-dots .owl-dot.active:first-child span::before, #demoNow .owl-theme .owl-dots .owl-dot.active:last-child span::before {
      color: #A8C628; }
    #demoNow .owl-theme .owl-dots .owl-dot.active span {
      border-color: #A8C628;
      background-color: #A8C628; }
    #demoNow .owl-theme .owl-dots .owl-dot:hover span {
      border-color: #A8C628; }
    #demoNow .owl-theme .owl-dots .owl-dot:first-child:hover span::before, #demoNow .owl-theme .owl-dots .owl-dot:last-child:hover span::before {
      color: #A8C628; }
    #demoNow .owl-theme .owl-dots .owl-dot:first-child span::after, #demoNow .owl-theme .owl-dots .owl-dot:last-child span::after {
      content: '';
      display: block;
      position: absolute;
      width: 110px;
      height: 3px;
      top: 8px;
      left: 100%;
      background-color: #A8C628;
      display: none; }
    #demoNow .owl-theme .owl-dots .owl-dot:last-child span::after {
      left: auto;
      right: 100%; }
    #demoNow .owl-theme .owl-dots .owl-dot:first-child span::before, #demoNow .owl-theme .owl-dots .owl-dot:last-child span::before {
      content: 'Create Product';
      position: absolute;
      white-space: nowrap;
      left: 50%;
      top: 22px;
      font-size: 17px;
      color: #BEBEBE;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    #demoNow .owl-theme .owl-dots .owl-dot:last-child span::before {
      content: 'Configure Offer'; }
  #demoNow .owl-theme .owl-dots::before {
    content: '';
    display: block;
    position: absolute;
    width: 110px;
    height: 1px;
    top: 10px;
    left: calc(50% - 55px);
    background-color: #BEBEBE; }
#demoNow .zoom {
  border: 10px solid #003058;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 60px;
  bottom: 0;
  z-index: 2;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
  #demoNow .zoom.offer {
    left: -25px;
    top: 4px; }
    #demoNow .zoom.offer + .info {
      left: -175px;
      top: -30px; }
  #demoNow .zoom.zoomed {
    -webkit-transition: transform 100ms ease-out 300ms;
    -o-transition: transform 100ms ease-out 300ms;
    transition: transform 100ms ease-out 300ms;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    #demoNow .zoom.zoomed + .info {
      -webkit-transition: opacity 100ms ease-out 600ms, transform 200ms ease-out 600ms;
      -o-transition: opacity 100ms ease-out 600ms, transform 200ms ease-out 600ms;
      transition: opacity 100ms ease-out 600ms, transform 200ms ease-out 600ms;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      -ms-pointer-events: auto;
      pointer-events: auto; }
#demoNow .info {
  opacity: 0;
  -webkit-transform: translate(-10px, -20px);
  -ms-transform: translate(-10px, -20px);
  -o-transform: translate(-10px, -20px);
  transform: translate(-10px, -20px);
  -ms-pointer-events: none;
  pointer-events: none;
  color: #fff;
  font-size: 15px;
  background-color: #00A7E1;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  z-index: 3;
  position: absolute;
  left: -90px;
  top: 115px;
  border: 1px solid #666666; }
  #demoNow .info::before, #demoNow .info::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-top: 25px solid #00A7E1;
    right: 35px; }
  #demoNow .info::before {
    border-left: 32px solid transparent;
    border-right: 0px solid transparent;
    border-top: 27px solid #666666;
    right: 34px; }
#demoNow .gutter {
  background-color: #00A7E1;
  cursor: ew-resize; }
  #demoNow .gutter.vertical {
    cursor: ns-resize; }
    #demoNow .gutter.vertical .gutterSelector {
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -moz-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
      -o-transform: translate(-50%, -50%) rotate(90deg);
      transform: translate(-50%, -50%) rotate(90deg); }
  #demoNow .gutter .gutterSelector {
    width: 34px;
    height: 34px;
    background-color: #00A7E1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #demoNow .gutter .gutterSelector svg {
      width: 13px;
      height: 18px;
      margin: 8px 2px;
      stroke-width: 2; }
#demoNow .gutter,
#demoNow .split {
  height: 100%;
  float: left;
  position: relative;
  width: 100%; }
#demoNow .split {
  overflow: hidden; }
  #demoNow .split.firstLoad {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  #demoNow .split img {
    position: absolute; }
  #demoNow .split#split1 img {
    left: 0;
    top: 0; }
  #demoNow .split#split2 img {
    right: 0;
    bottom: 0; }
#demoNow input[name="orderManagement"] {
  display: none; }
  #demoNow input[name="orderManagement"] + .bullet {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    border: 2px solid #A8C628;
    background-color: transparent;
    height: 21px;
    width: 21px;
    margin: 4px;
    cursor: pointer;
    opacity: 0; }
    #demoNow input[name="orderManagement"] + .bullet.fadeScaleIn {
      -webkit-animation: fadeScaleIn 500ms ease 0s normal 1;
      -o-animation: fadeScaleIn 500ms ease 0s normal 1;
      animation: fadeScaleIn 500ms ease 0s normal 1; }
    #demoNow input[name="orderManagement"] + .bullet.pulse {
      -webkit-animation: pulse 1000ms ease 0ms normal infinite forwards running;
      -o-animation: pulse 1000ms ease 0ms normal infinite forwards running;
      animation: pulse 1000ms ease 0ms normal infinite forwards running; }
    #demoNow input[name="orderManagement"] + .bullet::before, #demoNow input[name="orderManagement"] + .bullet::after {
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      border: 2px solid #A8C628;
      background-color: transparent;
      height: 21px;
      width: 21px;
      margin: 4px;
      cursor: pointer;
      content: '';
      margin: -6px 0 0 -6px;
      height: 29px;
      width: 29px;
      top: 0;
      left: 0; }
    #demoNow input[name="orderManagement"] + .bullet::after {
      margin: 3px 0 0 3px;
      background-color: #A8C628;
      height: 11px;
      width: 11px; }
    #demoNow input[name="orderManagement"] + .bullet.locale {
      left: 310px;
      top: 60px; }
      #demoNow input[name="orderManagement"] + .bullet.locale + .hitbox {
        width: 171px;
        height: 16px;
        left: 154px;
        top: 66px; }
    #demoNow input[name="orderManagement"] + .bullet.geoLocation {
      left: 200px;
      top: 134px; }
      #demoNow input[name="orderManagement"] + .bullet.geoLocation + .hitbox {
        width: 594px;
        height: 68px;
        left: 20px;
        top: 147px; }
      #demoNow input[name="orderManagement"] + .bullet.geoLocation > .info {
        left: -226px;
        top: -96px; }
        #demoNow input[name="orderManagement"] + .bullet.geoLocation > .info::before, #demoNow input[name="orderManagement"] + .bullet.geoLocation > .info::after {
          top: 100%;
          bottom: auto;
          left: auto;
          border-bottom: none; }
        #demoNow input[name="orderManagement"] + .bullet.geoLocation > .info::before {
          border-left: 32px solid transparent;
          border-right: 0px solid transparent;
          border-top: 27px solid #666666;
          right: 34px; }
        #demoNow input[name="orderManagement"] + .bullet.geoLocation > .info::after {
          border-left: 30px solid transparent;
          border-right: 0px solid transparent;
          border-top: 25px solid #00A7E1;
          right: 35px; }
    #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions {
      left: 260px;
      top: 220px;
      border-color: #00A7E1; }
      #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions::before, #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions::after {
        border-color: #00A7E1; }
      #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions::after {
        background-color: #00A7E1; }
      #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions + .hitbox {
        width: 594px;
        height: 110px;
        left: 20px;
        top: 233px;
        border-color: rgba(3, 181, 232, 0.3); }
      #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions:hover + .hitbox {
        background-color: rgba(3, 181, 232, 0.3); }
    #demoNow input[name="orderManagement"] + .bullet > .info {
      left: 10px;
      top: 90px;
      -webkit-transition: all 150ms;
      -o-transition: all 150ms;
      transition: all 150ms; }
      #demoNow input[name="orderManagement"] + .bullet > .info::before, #demoNow input[name="orderManagement"] + .bullet > .info::after {
        top: auto;
        right: auto;
        border-top: none;
        bottom: 100%; }
      #demoNow input[name="orderManagement"] + .bullet > .info::before {
        border-right: 32px solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 27px solid #666666;
        left: 34px; }
      #demoNow input[name="orderManagement"] + .bullet > .info::after {
        border-right: 30px solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 25px solid #00A7E1;
        left: 35px; }
    #demoNow input[name="orderManagement"] + .bullet:hover + .hitbox {
      background-color: rgba(168, 198, 40, 0.3); }
    #demoNow input[name="orderManagement"] + .bullet + .hitbox {
      border: 3px solid rgba(168, 198, 40, 0.3);
      border-radius: 4px;
      position: absolute;
      background-color: transparent;
      -webkit-transition: all 150ms;
      -o-transition: all 150ms;
      transition: all 150ms; }
  #demoNow input[name="orderManagement"]:checked + .bullet {
    box-shadow: 0 0 10px #A8C628;
    opacity: 1;
    -webkit-animation: none;
    -o-animation: none;
    animation: none; }
    #demoNow input[name="orderManagement"]:checked + .bullet::before, #demoNow input[name="orderManagement"]:checked + .bullet::after {
      box-shadow: 0 0 10px #A8C628; }
    #demoNow input[name="orderManagement"]:checked + .bullet > .info {
      left: -10px;
      top: 70px;
      opacity: 1;
      -ms-pointer-events: auto;
      pointer-events: auto; }
    #demoNow input[name="orderManagement"]:checked + .bullet + .hitbox {
      border-color: #A8C628;
      background-color: rgba(168, 198, 40, 0.3); }
    #demoNow input[name="orderManagement"]:checked + .bullet.geoLocation > .info {
      left: -206px;
      top: -76px; }
    #demoNow input[name="orderManagement"]:checked + .bullet.purchaseRestrictions {
      box-shadow: 0 0 10px #00A7E1; }
      #demoNow input[name="orderManagement"]:checked + .bullet.purchaseRestrictions::before, #demoNow input[name="orderManagement"]:checked + .bullet.purchaseRestrictions::after {
        box-shadow: 0 0 10px #00A7E1; }
      #demoNow input[name="orderManagement"]:checked + .bullet.purchaseRestrictions + .hitbox {
        border-color: #00A7E1;
        background-color: rgba(3, 181, 232, 0.3); }
#demoNow input[name="expandGrow"] {
  display: none; }
  #demoNow input[name="expandGrow"] + .tab {
    position: absolute;
    left: -90px;
    width: 280px;
    height: 65px;
    line-height: 65px;
    font-size: 21px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    background-color: rgba(0, 48, 88, 0.85);
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
    #demoNow input[name="expandGrow"] + .tab > svg {
      display: inline-block;
      vertical-align: middle;
      fill: #fff;
      width: 30px;
      height: 30px;
      margin: 17px; }
    #demoNow input[name="expandGrow"] + .tab > span br {
      display: none; }
    #demoNow input[name="expandGrow"] + .tab.manage {
      top: 50px; }
      #demoNow input[name="expandGrow"] + .tab.manage > svg {
        height: 33px; }
    #demoNow input[name="expandGrow"] + .tab.pricing {
      top: 165px; }
    #demoNow input[name="expandGrow"] + .tab.analytics {
      top: 280px; }
    #demoNow input[name="expandGrow"] + .tab:hover {
      background-color: #003058; }
  #demoNow input[name="expandGrow"] ~ .mobileLabel {
    opacity: 0;
    position: absolute;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 0 2px 50px;
    background-color: rgba(0, 48, 88, 0.7);
    font-size: 25px;
    -ms-pointer-events: none;
    pointer-events: none; }
  #demoNow input[name="expandGrow"]:checked + .tab {
    position: absolute;
    left: -280px;
    background-color: #003058; }
  #demoNow input[name="expandGrow"] ~ .screenInner {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff; }
    #demoNow input[name="expandGrow"] ~ .screenInner > .expand {
      position: absolute;
      left: 100%;
      top: 0;
      -webkit-transition: left 100ms ease-out 100ms;
      -o-transition: left 100ms ease-out 100ms;
      transition: left 100ms ease-out 100ms; }
  #demoNow input[name="expandGrow"]#manage:checked ~ .screenInner > .manage, #demoNow input[name="expandGrow"]#analytics:checked ~ .screenInner > .analytics, #demoNow input[name="expandGrow"]#pricing:checked ~ .screenInner > .pricing {
    left: 0;
    z-index: 2;
    -webkit-transition: left 100ms ease-out;
    -o-transition: left 100ms ease-out;
    transition: left 100ms ease-out; }

@-webkit-keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 110px; } }
@-moz-keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 110px; } }
@keyframes progress {
  0% {
    width: 0; }
  100% {
    width: 110px; } }
@-webkit-keyframes fadeScaleIn {
  0% {
    -webkit-transform: scale(10);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes fadeScaleIn {
  0% {
    -moz-transform: scale(10);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: scale(1); } }
@keyframes fadeScaleIn {
  0% {
    transform: scale(10);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.05);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1.05);
    opacity: 1; } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1.05);
    opacity: 1; }
  50% {
    -moz-transform: scale(0.95); }
  100% {
    -moz-transform: scale(1.05);
    opacity: 1; } }
@keyframes pulse {
  0% {
    transform: scale(1.05);
    opacity: 1; }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1.05);
    opacity: 1; } }
@media (max-width: 1450px) {
  #storefrontMgmt .content-wrap {
    margin-top: 25px; } }
@media (max-width: 1350px) {
  #demoNow .sectionBG {
    padding: 30px; } }
@media (max-width: 1215px) {
  #demoNow input[name="expandGrow"] + .tab {
    white-space: normal;
    line-height: 20px;
    width: 195px; }
    #demoNow input[name="expandGrow"] + .tab > svg,
    #demoNow input[name="expandGrow"] + .tab > span {
      float: left;
      display: block; }
    #demoNow input[name="expandGrow"] + .tab > span {
      width: 126px;
      margin-top: 10px; }
      #demoNow input[name="expandGrow"] + .tab > span br {
        display: initial; }

  #demoNow input[name="expandGrow"]:checked + .tab {
    left: -195px; } }
@media (max-width: 991px) {
  #demoNow .section:nth-child(2) .sectionBG {
    background-position: bottom;
    background-size: auto 79%; }

  #demoNow .hero-callout {
    height: 150px; }
    #demoNow .hero-callout a {
      margin-left: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #B6E8FB; }
      #demoNow .hero-callout a + a {
        border-bottom: 0; }

  body .body-wrapper .body-inner-wrapper.main-body .heroHeader {
    height: calc(100vh - 239px); } }
@media (max-width: 768px) {
  body .body-wrapper .body-inner-wrapper.main-body .heroHeader {
    height: calc(100vh - 210px); }

  #demoNow .sectionFlex {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
    #demoNow .sectionFlex .demo-wrap .laptop {
      width: 670px;
      height: auto; }
    #demoNow .sectionFlex .demo-wrap .phone {
      display: none; }
    #demoNow .sectionFlex .demo-wrap .screen {
      top: 23px;
      left: 113px;
      height: 277px;
      width: 439px; }

  #demoNow .content-wrap {
    padding-left: 40px; }
    #demoNow .content-wrap h2 {
      font-size: 34px; }
    #demoNow .content-wrap p {
      font-size: 16px; }

  #demoNow .footer-callout {
    padding: 15px;
    font-size: 21px; }
    #demoNow .footer-callout span {
      margin: 0;
      display: block;
      line-height: 1; }

  #demoNow .owl-theme .owl-dots {
    margin-top: 37px; }

  #demoNow .zoom {
    width: 40%;
    height: auto;
    border-width: 5px; }
    #demoNow .zoom.offer + .info {
      left: -110px; }

  #demoNow input[name="orderManagement"] + .bullet + .hitbox {
    border-width: 2px;
    border-radiu: 2px; }
  #demoNow input[name="orderManagement"] + .bullet.locale {
    left: 200px;
    top: 35px; }
    #demoNow input[name="orderManagement"] + .bullet.locale + .hitbox {
      width: 113px;
      height: 12px;
      left: 101px;
      top: 43px; }
  #demoNow input[name="orderManagement"] + .bullet.geoLocation {
    left: 100px;
    top: 83px; }
    #demoNow input[name="orderManagement"] + .bullet.geoLocation + .hitbox {
      width: 390px;
      height: 44px;
      left: 13px;
      top: 97px; }
  #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions {
    left: 150px;
    top: 140px; }
    #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions + .hitbox {
      width: 390px;
      height: 72px;
      left: 13px;
      top: 154px; }

  #demoNow input[name="expandGrow"] + .tab {
    left: -75px;
    height: 55px; }
    #demoNow input[name="expandGrow"] + .tab.manage, #demoNow input[name="expandGrow"] + .tab.pricing, #demoNow input[name="expandGrow"] + .tab.analytics {
      top: auto; }
    #demoNow input[name="expandGrow"] + .tab.manage {
      bottom: 130px; }
      #demoNow input[name="expandGrow"] + .tab.manage > svg {
        height: 26px; }
    #demoNow input[name="expandGrow"] + .tab.pricing {
      bottom: 65px; }
    #demoNow input[name="expandGrow"] + .tab.analytics {
      bottom: 0; }
    #demoNow input[name="expandGrow"] + .tab > svg {
      width: 25px;
      height: 25px;
      margin: 15px; }
    #demoNow input[name="expandGrow"] + .tab > span {
      display: none; }
  #demoNow input[name="expandGrow"]:checked + .tab {
    left: -90px; }
    #demoNow input[name="expandGrow"]:checked + .tab + .mobileLabel {
      opacity: 1;
      padding-left: 10px;
      -webkit-transition: opacity 200ms, padding-left 400ms;
      -o-transition: opacity 200ms, padding-left 400ms;
      transition: opacity 200ms, padding-left 400ms; } }
@media (max-width: 580px) {
  #demoNow input[name="orderManagement"] + .bullet > .info {
    left: -300px;
    top: -42px; }

  #demoNow input[name="orderManagement"]:checked + .bullet > .info {
    left: -280px;
    top: -22px; }

  #demoNow input[name="orderManagement"] + .bullet > .info::before,
  #demoNow input[name="orderManagement"] + .bullet > .info::after {
    right: auto;
    left: 100%;
    top: auto;
    bottom: 12px; }

  #demoNow input[name="orderManagement"] + .bullet > .info::before {
    bottom: 11px; } }
@media (max-width: 500px) {
  #demoNow .gutter.vertical .gutterSelector {
    left: 0; }

  #demoNow .owl-theme .owl-dots {
    margin-left: -200px; }

  #demoNow .zoom.offer + .info {
    top: 140px;
    left: -80px; }
    #demoNow .zoom.offer + .info::before, #demoNow .zoom.offer + .info::after {
      top: auto;
      left: auto;
      border-top: none;
      bottom: 100%;
      border-top: none;
      border-left: 32px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 27px solid #666666;
      right: 34px; }
    #demoNow .zoom.offer + .info::after {
      border-left: 30px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 25px solid #00A7E1;
      right: 35px; } }
@media (max-width: 420px) {
  #demoNow .section:nth-child(2) .sectionBG {
    background-size: auto 70%; } }
@media (max-width: 370px) {
  #demoNow .sectionBG {
    padding: 15px 15px 15px 30px; }

  #demoNow .owl-theme .owl-dots {
    margin-left: -290px; } }
@media (max-height: 750px) and (min-width: 769px) {
  #demoNow .sectionBG {
    padding: 30px; }
  #demoNow .sectionFlex {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  #demoNow .zoom.offer + .info {
    top: auto;
    left: 125px;
    bottom: 125px; }
    #demoNow .zoom.offer + .info::before, #demoNow .zoom.offer + .info::after {
      top: auto;
      right: auto;
      border-top: none;
      bottom: 100%;
      border-top: none;
      border-right: 32px solid transparent;
      border-left: 0px solid transparent;
      border-bottom: 27px solid #666666;
      left: 34px; }
    #demoNow .zoom.offer + .info::after {
      border-right: 30px solid transparent;
      border-left: 0px solid transparent;
      border-bottom: 25px solid #00A7E1;
      left: 35px; } }
@media (min-height: 615px) and (max-width: 768px) and (min-width: 615px) {
  #demoNow .sectionFlex {
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around; } }
@media (max-height: 615px) and (min-width: 769px) {
  #demoNow .content-wrap {
    padding-left: 40px; } }
@media only screen and (max-device-width: 736px) and (orientation: portrait) {
  html,
  body.mobilePhone {
    overflow-y: visible !important;
    overflow-x: hidden !important; }

  body.mobilePhone {
    background-color: #fff; }
    body.mobilePhone #demoNow {
      height: auto !important; }
      body.mobilePhone #demoNow .sectionFlex {
        overflow-y: visible !important;
        overflow-x: hidden !important; }
      body.mobilePhone #demoNow #storefrontMgmt .content-wrap,
      body.mobilePhone #demoNow .owl-theme .owl-dots {
        margin-top: 40px; }
      body.mobilePhone #demoNow .demo-wrap {
        margin-left: -40px; }
      body.mobilePhone #demoNow .vh100 {
        height: auto;
        min-height: 50vh; }
      body.mobilePhone #demoNow .content-wrap {
        padding: 0; }
      body.mobilePhone #demoNow .sectionBG {
        padding-bottom: 50px; }
      body.mobilePhone #demoNow input[name="expandGrow"] + .tab.manage {
        bottom: auto;
        top: 20px; }
      body.mobilePhone #demoNow input[name="expandGrow"] + .tab.pricing {
        bottom: 50%;
        margin-bottom: -18px; }
      body.mobilePhone #demoNow input[name="expandGrow"] + .tab.analytics {
        bottom: 20px; }
      body.mobilePhone #demoNow input[name="orderManagement"] + .bullet.geoLocation {
        left: 120px; }
      body.mobilePhone #demoNow input[name="orderManagement"] + .bullet.purchaseRestrictions {
        left: 185px; }
    body.mobilePhone .body-wrapper .body-inner-wrapper.main-body .heroHeader {
      height: auto; } }

/*# sourceMappingURL=demoNow.css.map */
