   .our-services-wrapper .capability.active::after {
        display: none;
    }
    
    .capability {
        display: none;
    }

    .capability-description-wrapper {
        position: relative;
        height: auto;
        min-height: 245px;
        background-color: #b6e8fb;
        margin-bottom: 25px;
        padding: 15px;
    }
    

    .capability-description-wrapper.active{
        display: inline-block;
    }


    .capability-description-wrapper .back{
        cursor: pointer;
    }

    .capability-description-wrapper .capability-description {
        font-size: 1.5rem;
        
    }

     .capability-header {
        color: rgb(1, 67, 90);
    }
 
    .capabilities-wrapper {
        margin-top:20px;
    }
    
 
@media(min-width: 550px) {
    
    .capabilities-wrapper .capability {
        width: 215px;
    }

    .masterheader-wrapper .heading-wrapper .brand {
        font-size: 5rem;
    }

    .masterheader-wrapper .heading-wrapper .tagline {
        font-size: 7rem;
    }

}

@media(min-width: 700px) {
    .capability {
        display: block;
    }
     .capability-description-wrapper {
            display: none;
            padding: 35px;
        }
    .capabilities-wrapper .capability {
        background: rgba(0,0,0,.25);
        transition: background 300ms;
        margin: 5px 5px;
        width: 70%;
        height: 55px;
        padding: 2px 0;
        cursor:pointer;
        display: inline-block;
        position: relative;
        font-size: 1.25rem;
    }
    .capabilities-wrapper .capability .capability-icon {
        float: left;
        margin: 0 10px;
        width: 60px;
    }

    .capabilities-wrapper .capability:hover {
        background: #b6e8fb;
    }

      .capabilities-wrapper .capability.active {
        background: #b6e8fb;
    }

    .capabilities-wrapper .capability .capability-title-wrapper {
        position: relative;
        height: 50px;
        width: 60%;
        float: left;
    }

    .capabilities-wrapper .capability .capability-title-wrapper .capability-title {
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        left: 0;
        width: 100%;
    }

    .masterheader-wrapper .heading-wrapper .brand {
        font-size: 5rem;
    }
    .masterheader-wrapper .heading-wrapper .tagline {
        font-size: 8rem;
    }

    .masterheader-wrapper .heading-wrapper .btn-main {
        margin-top:30px;
        padding: 16px 35px 12px;
        font-size: 20px;
    }

    .capabilities-wrapper .capability {
        margin: 10px;
        width: 130px;
        height: 130px;
        padding: 10px 0;
        text-align: center;
        background: #bdbebf;
        color: #01435a;
    }

    .capabilities-wrapper {
        margin-top:60px;
        margin-bottom: 30px;
    }
    

    .capabilities-wrapper .capability .capability-icon {
        width: 60px;
        height: 45px;
        margin: 10px auto;
        float: none;
    }

    .capabilities-wrapper .capability .capability-title-wrapper {
        float: none;
        width: 100%;
    }

}
@media(min-width: 768px) {
    

        .capability-description-wrapper .description-wrapper {
            padding: 0 15px 0 35px;
        }

        .capability-description-wrapper .back{
            left: -45px;
            top: 50%;
            transform:translateY(-50%);
        }

        .our-services-wrapper .container{
            position: relative;
        }

        .icon-wrapper {
            width: 150px;
            height: 150px;
            margin: 15px 0 0;
            float: right;
        }
        
        .capability-description-wrapper .description-wrapper {
            padding: 0;
        }

        .capability-description-wrapper .capability-description {
            font-size: 1.75rem;
        }

    }
@media(min-width: 1100px) {
        .our-services-wrapper .capability.active::after {
            display: block;
            content: "";
            width: 10%;
            height: 30px;
            bottom: -30px;
            left: 40px;
            position: absolute;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 25px solid #b6e8fb;
            z-index: 0;
         }
}
    
@media(min-width: 1300px) {
        
         .capability-description-wrapper .capability-description {
            min-width: 1000px;
        }
}
    
@media(min-width: 1500px) {
        
         .capability-description-wrapper .capability-description {
            min-width: 1200px;
        
        }
}
    
@media(min-width: 1700px) {
        
         .capability-description-wrapper .capability-description {
            min-width: 1300px;
        
        }
}
    
