.infographic-wrapper {

  .infographic {
    height:600px;
    padding-bottom:15px;
    overflow:hidden;
    position:relative;

    &.active {
      height:auto;
    }
  }

  .infographic-label {
    text-align:center;

    .svg-wrapper {
      display:inline;
      height: 20px;
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
