.brick-agenda {
  padding: 3rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    color: $white;
    position: sticky;
    top: 8rem;
  }

  dl {
    color: $white;
  }

  dt {
    font-weight: normal;
    opacity: 0.7;
    font-size: 1.125rem;
  }

  dd:not(:last-child) {
    padding-bottom: 1.75rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}