/**
 * Shared resource, use px instead of rem.
 */

#contact-form {
  .dr_step {
    display: none;

    &.active {
      display: block;
    }

    &[data-step="2"] {
      form {
        width: 100% !important;
        max-width: none !important;
      }

      label {
        padding: 0 !important;
        line-height: inherit !important;
        position: static !important;

        &[for="Opted_In__c"] {
          padding-left: 1rem !important;
        }
      }
    }
  }

  .modal-dialog {
    margin: auto;
    top: 24px;
    left: 0;
    right: 0;
  }

  .modal-header {
    padding: 16px;

    .close {
      padding: 16px;
      margin: -16px -16px -16px 0;
      font-size: 30px;
    }
  }

  h5 {
    font-size: 25px;
    float: left;
  }
}

#contact-choice-form {
  input[type="radio"] {
    margin-top: 4px;
    visibility: visible !important;
  }

  label {
    width: calc(100% - 32px) !important;
    margin-left: 16px !important;
    visibility: visible !important;
    font-size: 18px !important;
  }

  button:disabled {
    pointer-events: none;
    filter: grayscale(1);
  }
}

.contact-form-button {
  position: fixed !important;
  bottom: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  border-radius: 50% !important;
  background-color: $green !important;
  z-index: 1000;

  svg {
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1005;
  }
}

body:not(.dr_new) {
  #contact-form {
    .modal-dialog {
      bottom: 24px;
      overflow-y: auto;
    }

    .modal-content {
      border-radius: 5px;
    }

    .modal-header {
      display: block;
    }

    .modal-body {
      padding: 16px;
    }

    h5 {
      float: left;
    }

    legend {
      font-size: 24px;
      border: none;
    }

    p {
      letter-spacing: 0;
      font-size: 20px;
    }

    label {
      font-weight: normal;
      margin-bottom: 8px;
    }

    .modal-footer {
      padding: 16px;
    }

    .btn {
      background-color: $green;
      padding: 8px 18px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 0;
      overflow: hidden;
      position: relative;
      transition: .4s;
      border: 0;
      font-size: 18px;
    }
  }

  #mktoForm_5349 {
    .mktoFieldDescriptor + .mktoFieldDescriptor {
      margin-left: 0;
    }
  }
}