/*Brand colors*/

$transparent-light-blue: rgba(3,181,232, .3);
$light-blue: #00A7E1;
$blue: #003058;
$altBlue: #B6E8FB;
$navy: #002F57;
$secondary-blue: #03436b;
$faded-blue: #7f94a6;

$gray: #666666;
$light-gray: #E9E9E9;
$altGray: #BEBEBE;

$white: #ffffff;
$black: #000000;

$pink: #AF3478;
$purple: #B03478;
$violet: #9E79BB;
$green: #A8C628;

/*DR Font Family */

