.cta-banner,
.brick-events-cta-banner {
    background: $light-blue;
    //background: -moz-linear-gradient(top, #0075d7,  #009fdf); 
    //background: -webkit-gradient(linear, left top, left bottom, from(#0075d7), to(#009fdf));
    min-height: 70px;

    .row {
        padding-top: 4rem;
        padding-bottom: 3.5rem;

        &.flex {
            text-align: left;
            justify-content: center;
            margin-bottom: 0;
            display: flex;
        }
    }
    

		.strap {
		    color: $white;
		    font-size: 2rem;
		    text-align: center;

		    @include media-breakpoint-up(lg) {
                text-align: left;
                padding-right: 2rem;
		    }

		}

    .cta {
        color: $white;
        font-size: 18px;
        line-height: 20px;
        padding: .75rem 1rem;
        text-transform: uppercase;
        text-align: center;
    }

    a,
    a:hover {
        text-decoration: none;
    }


}