.payment-risk-feature {
    padding-top: 4rem;
    padding-bottom: 4rem;

    h3 {
        font-size: 1.75rem;
    }

    .featured-image {
        @include media-breakpoint-up(md) {
            position: sticky;
            top: 14rem;
            width: 85%;
        }

        img {
            max-width: 100%;
        }
    }


}