.clients-feature-content{
	.owl-carousel {
		.owl-stage-outer {
			@media(min-width:$screen-sm){
				padding-left:135px;
			}
			@media(min-width:$screen-lg){
				padding-left:200px;
			}
		}
	}

	&.right-side {
		.owl-carousel {
			.owl-stage-outer {
				@media(min-width:$screen-sm){
					padding-left:0;
					padding-right:135px;
				}
				@media(min-width:$screen-lg){
					padding-left:0;
					padding-right:200px;
				}

				.owl-stage {
					padding: 0 !important;
				}
			}
		}
	}
}

