#offeringsSVGwrap {
  width:100%;
  height:0;
  padding-bottom:41.57117%;
  position:relative;
  overflow: hidden;
}
#offeringsSVG {
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;bottom:0;
  * {
    transform-box:fill-box;
  }
}

.home-animation {
    display: none;
}

.mobile-animation-image{
    display: block;
    height: auto;
    width: 100%;
 }

// $name = animation/transition duration
// $_name = animation/transition delay
$default: 300ms;
$clouds: $default + 200ms;
$lines: $default;
$dots: $default;
$squares: $default;
$illustrations: $default + 100ms;
$cta: $illustrations;
$cards: $illustrations;
$text: 1000ms;

$_l01: $clouds/2;
$_l02: $_l01 + 10ms;
$_l03: $_l02 + ($lines * 0.08);
$_l04: $_l03 + $lines;
$_l05: $_l04 + ($lines * 0.4);
$_l06: $_l05 + ($lines * 0.4);
$_l07: $_l06 + $lines;
$_l08: $_l02 + ($lines * 0.1);
$_l09: $_l02 + ($lines * 0.4);
$_l10: $_l09 + ($lines * 0.5);
$_l11: $_l10 + $lines;
$_l12: $_l11 + ($lines * 0.8);
$_l13: $_l12 + $lines;
$_l14: $_l02 + $lines;
$_l15: $_l14 + ($lines * 0.45);
$_l16: $_l14 + ($lines * 0.85);
$_l17: $_l16 + ($lines * 0.2);
$_l18: $_l17 + ($lines * 0.3);
$_l19: $_l16 + ($lines * 0.75);
$_l20: $_l16 + $lines;
$_l21: $_l20 + ($lines * 0.30);
$_l22: $_l20 + ($lines * 0.34);
$_l23: $_l22 + $lines;
$_l24: $_l20 + $lines;
$_l25: $_l24 + ($lines * 0.6);
$_l26: $_l25 + ($lines * 0.55);
$_l27: $_l24 + ($lines * 0.2);
$_l28: $_l24 + ($lines * 0.18);
$_l29: $_l24 + ($lines * 0.95);

$_p01: $_l01 + $lines;
$_p02: $_l02 + $lines;
$_p03: $_l03 + $lines;
$_p04: $_l04 + $lines;
$_p05: $_l05 + $lines;
$_p06: $_l06 + $lines;
$_p07: $_l07 + $lines;
$_p08: $_l08 + $lines;
$_p09: $_l09 + $lines;
$_p10: $_l10 + $lines;
$_p11: $_l11 + $lines;
$_p12: $_l12 + $lines;
$_p13: $_l13 + $lines;
$_p14: $_l14 + $lines;
$_p15: $_l15 + $lines;
$_p16: $_l16 + $lines;
$_p17: $_l17 + $lines;
$_p18: $_l18 + $lines;
$_p19: $_l19 + $lines;
$_p20: $_l20 + $lines;
$_p21: $_l21 + $lines;
$_p22: $_l22 + $lines;
$_p23: $_l23 + $lines;
$_p24: $_l24 + $lines;
$_p25: $_l25 + $lines;
$_p26: $_l26 + $lines;
$_p27: $_l27 + $lines;
$_p28: $_l28 + $lines;
$_p29: $_l29 + $lines;

$_computer: $_l09 - 10ms;
$_money: $_l04 - 10ms;
$_ctaPath: $_l14;
$_ctaG: $_l14;
$_cards1: $_p14 - 10ms;
$_cards2: $_p14 + 20ms;
$_cards3: $_p14 + 50ms;
$_mobile: $_l20 - 10ms;
$_secure: $_l25 - 10ms;
$_infoCards: $_l27 + ($lines * 0.5);
$_construction1: $_l24 - 10ms;
$_construction2: $_l24 + 20ms;
$_construction3: $_l24 + 50ms;

$_commerce-cloud: $_p01 + $dots;
$_checkout-xp: $_p02 + $dots;
$_merchant-account: $_p03 + $dots;
$_payment-gateway: $_p14 + $dots;
$_fraud-protection: $_p20 + $dots;
$_subscritptions: $_p16 + $dots;
$_global-tax: $_p27 + $dots;
$_data-security: $_p25 + $dots;

$_secureDots1: $_secure + $illustrations;
$_secureDots2: $_secure + $illustrations + 30ms;
$_secureDots3: $_secure + $illustrations + 60ms;
$_cardsDots1: $_p17 + $illustrations;
$_cardsDots2: $_p17 + $illustrations + 30ms;
$_cardsDots3: $_p17 + $illustrations + 60ms;
$_computerDots1: $_computer + $illustrations;
$_computerDots2: $_computer + $illustrations + 30ms;
$_computerDots3: $_computer + $illustrations + 60ms;

#dots > path,
#computer,
#money,
#secure,
#mobile,
#infoCards,
#construction > g,
#secureDots > polygon,
#cardsDots > polygon,
#computerDots > polygon {transform:scale(0);transform-origin:50%;}

#clouds > g {
  opacity:0;
  transform:translate(-25%, -25%);
  transition: all $clouds;
  &:last-of-type {
    transition-delay:50ms;
  }
}
#cards > g {
  opacity:0;
  transform:translate(-25%, -25%);
  transition: all $cards;
}
#cta > g,
#cta > path {
  opacity:0;
  transform:translate(0, 0);
  transition:opacity 0ms;
}
#commerce-cloud,
#checkout-xp,
#merchant-account,
#payment-gateway,
#fraud-protection,
#subscritptions,
#global-tax,
#data-security {
  opacity:0;
  transition:opacity $text;
}

#secureDots > polygon,
#cardsDots > polygon,
#computerDots > polygon {
  opacity:0;
  transition:all $squares;
}


//lines
#l01 {animation-delay:$_l01}
#l02 {animation-delay:$_l02}
#l03 {animation-delay:$_l03}
#l04 {animation-delay:$_l04}
#l05 {animation-delay:$_l05}
#l06 {animation-delay:$_l06}
#l07 {animation-delay:$_l07}
#l08 {animation-delay:$_l08}
#l09 {animation-delay:$_l09}
#l10 {animation-delay:$_l10}
#l11 {animation-delay:$_l11}
#l12 {animation-delay:$_l12}
#l13 {animation-delay:$_l13}
#l14 {animation-delay:$_l14}
#l15 {animation-delay:$_l15}
#l16 {animation-delay:$_l16}
#l17 {animation-delay:$_l17}
#l18 {animation-delay:$_l18}
#l19 {animation-delay:$_l19}
#l20 {animation-delay:$_l20}
#l21 {animation-delay:$_l21}
#l22 {animation-delay:$_l22}
#l23 {animation-delay:$_l23}
#l24 {animation-delay:$_l24}
#l25 {animation-delay:$_l25}
#l26 {animation-delay:$_l26}
#l27 {animation-delay:$_l27}
#l28 {animation-delay:$_l28}
#l29 {animation-delay:$_l29}
// dots
#p01 {animation-delay:$_p01}
#p02 {animation-delay:$_p02}
#p03 {animation-delay:$_p03}
#p04 {animation-delay:$_p04}
#p05 {animation-delay:$_p05}
#p06 {animation-delay:$_p06}
#p07 {animation-delay:$_p07}
#p08 {animation-delay:$_p08}
#p09 {animation-delay:$_p09}
#p10 {animation-delay:$_p10}
#p11 {animation-delay:$_p11}
#p12 {animation-delay:$_p12}
#p13 {animation-delay:$_p13}
#p14 {animation-delay:$_p14}
#p15 {animation-delay:$_p15}
#p16 {animation-delay:$_p16}
#p17 {animation-delay:$_p17}
#p18 {animation-delay:$_p18}
#p19 {animation-delay:$_p19}
#p20 {animation-delay:$_p20}
#p21 {animation-delay:$_p21}
#p22 {animation-delay:$_p22}
#p23 {animation-delay:$_p23}
#p24 {animation-delay:$_p24}
#p25 {animation-delay:$_p25}
#p26 {animation-delay:$_p26}
#p27 {animation-delay:$_p27}
#p28 {animation-delay:$_p28}
#p29 {animation-delay:$_p29}
// illustrations
#computer {animation-delay:$_computer}
#money {animation-delay:$_money}
#cta > path {transition-delay:$_ctaPath}
#cta > g {animation-delay:$_ctaG}
#cards > g:nth-child(1) {transition-delay:$_cards1}
#cards > g:nth-child(2) {transition-delay:$_cards2}
#cards > g:nth-child(3) {transition-delay:$_cards3}
#mobile {animation-delay:$_mobile}
#secure {animation-delay:$_secure}
#infoCards {animation-delay:$_infoCards}
#construction > g:nth-child(1) {animation-delay:$_construction1}
#construction > g:nth-child(2) {animation-delay:$_construction2}
#construction > g:nth-child(3) {animation-delay:$_construction3}
// text
#commerce-cloud {transition-delay:$clouds}
#checkout-xp {transition-delay:$_checkout-xp}
#merchant-account {transition-delay:$_merchant-account}
#payment-gateway {transition-delay:$_payment-gateway}
#fraud-protection {transition-delay:$_fraud-protection}
#subscritptions {transition-delay:$_subscritptions}
#global-tax {transition-delay:$_global-tax}
#data-security {transition-delay:$_data-security}
// squares
#secureDots > polygon:nth-child(1) {transition-delay:$_secureDots1} 
#secureDots > polygon:nth-child(2) {transition-delay:$_secureDots2} 
#secureDots > polygon:nth-child(3) {transition-delay:$_secureDots3} 
#cardsDots > polygon:nth-child(1) {transition-delay:$_cardsDots1}
#cardsDots > polygon:nth-child(2) {transition-delay:$_cardsDots2}
#cardsDots > polygon:nth-child(3) {transition-delay:$_cardsDots3}
#computerDots > polygon:nth-child(1) {transition-delay:$_computerDots1}
#computerDots > polygon:nth-child(2) {transition-delay:$_computerDots2}
#computerDots > polygon:nth-child(3) {transition-delay:$_computerDots3}

#lines > line {opacity:0}

.go {
  #lines > line,
  #dots > path,
  #computer,
  #money,
  #secure,
  #mobile,
  #infoCards,
  #construction > g,
  #cta > g {
    animation-timing-function:linear;
    animation-fill-mode:forwards;
  }
  #lines > line {
    animation-name:line;
    animation-duration:$lines;
  }
  #dots > path {
    animation-name:scale;
    animation-duration:$dots;
  }
  #computer,
  #money,
  #secure,
  #mobile,
  #infoCards,
  #construction > g {
    animation-name:scale;
    animation-duration:$illustrations;
  }
  #clouds > g,
  #cards > g,
  #cta > path {
    opacity:1;
    transform:translate(0, 0);
  }
  #cta > g {
    animation-name:button;
    animation-duration:$cta;
  }
  #secureDots > polygon,
  #cardsDots > polygon,
  #computerDots > polygon {
    opacity:1;
    transform:scale(1);
  }
  #lines > line,
  #commerce-cloud,
  #checkout-xp,
  #merchant-account,
  #payment-gateway,
  #fraud-protection,
  #subscritptions,
  #global-tax,
  #data-security {opacity:1}
}


@keyframes line {
  to {stroke-dashoffset:0;}
}
@keyframes scale {
  0%   {transform:scale(0);}
  50%  {transform:scale(1.1);}
  80%  {transform:scale(0.9);}
  100% {transform:scale(1);}
}
@keyframes button {
  0%   {transform:translate(0, 0);opacity:1}
  50%  {transform:translate(-0.5%, 5%);opacity:1}
  100% {transform:translate(0, 0);opacity:1}
}





.st0{fill:none;stroke:#B6E8FB;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:#B6E8FB;}
.st2{fill:#E9E9E9;}
.st3{fill:#003058;}
.st4{fill:#00A7E1;}
.st5{fill:#DAD9D9;}
.st6{fill:none;stroke:#B6E8FB;stroke-width:1.0248;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st7{fill:#B03478;}
.st8{fill:#006C8A;}
.st9{fill:none;stroke:#00A7E1;stroke-width:0.25;stroke-miterlimit:10;}
.st10{fill:#989696;}
.st11{fill:#BEBEBE;}
.st12{fill:none;stroke:#A8C628;stroke-width:0.25;stroke-miterlimit:10;}
.st13{fill:#9E79BB;}
.st14{fill:#E9E9E9;stroke:#E9E9E9;stroke-width:0.9192;stroke-miterlimit:10;}
.st15{fill:#E9E9E9;stroke:#FFFFFF;stroke-width:0.9192;stroke-miterlimit:10;}
.st16{fill:#DAD9D9;stroke:#E9E9E9;stroke-width:0.9192;stroke-miterlimit:10;}
.st17{fill:#FFFFFF;}
.st18{fill:none;stroke:#00A7E1;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st19{fill:#FFFFFF;stroke:#C9CACC;stroke-width:0.9192;stroke-miterlimit:10;}
.st20{fill:#C9CACC;stroke:#FFFFFF;stroke-width:0.9192;stroke-miterlimit:10;}
.st21{fill:#C9CACC;}
.st22{fill:none;stroke:#B03478;stroke-miterlimit:10;}
.st23{fill:#A8C628;}
.st24{fill:#B3B3B3;}
.st25{fill:#949494;}
.st26{fill:#68A328;}
.st27{enable-background:new;}
.st28{fill:#002035;}
.st29{fill:#666666;}
.st30{fill:#5B6C16;}
.st31{fill:#363F0D;}
.st32{fill:#465111;}
.st33{fill:#768B1C;}
.st34{clip-path:url(#SVGID_1_);enable-background:new;}
.st35{fill:#38410D;}
.st36{fill:#3A430E;}
.st37{fill:#3C460E;}
.st38{fill:#3E480F;}
.st39{fill:#404A0F;}
.st40{clip-path:url(#SVGID_2_);enable-background:new;}
.st41{fill:#576715;}
.st42{fill:#5B6B16;}
.st43{fill:#5E6F16;}
.st44{fill:#617317;}
.st45{fill:#657718;}
.st46{fill:#687B19;}
.st47{fill:#6C7F1A;}
.st48{clip-path:url(#SVGID_3_);enable-background:new;}
.st49{clip-path:url(#SVGID_4_);enable-background:new;}
.st50{fill:#778C1C;}
.st51{clip-path:url(#SVGID_5_);enable-background:new;}
.st52{fill:#343C0C;}
.st53{clip-path:url(#SVGID_6_);enable-background:new;}
.st54{clip-path:url(#SVGID_7_);enable-background:new;}
.st55{clip-path:url(#SVGID_8_);enable-background:new;}
.st56{clip-path:url(#SVGID_9_);enable-background:new;}
.st57{clip-path:url(#SVGID_10_);enable-background:new;}
.st58{fill:#9BB625;}
.st59{clip-path:url(#SVGID_11_);enable-background:new;}
.st60{clip-path:url(#SVGID_12_);enable-background:new;}
.st61{fill:#5C6B16;}
.st62{fill:#475211;}
.st63{clip-path:url(#SVGID_13_);enable-background:new;}
.st64{fill:#DAD9D9;stroke:#C8C7C7;stroke-miterlimit:10;}
.st65{fill:#838181;}
.st66{fill:#B6E8FB;stroke:#B6E8FB;stroke-width:2;stroke-miterlimit:10;}
.st67{fill:#D8D8D8;}
.st68{fill:#FFB300;}

@media (min-width: 768px) {
    
.home-animation {
    display: block;
}
    
.mobile-animation-image{
        display: none;
    }
}