.image-cta {
    background-color: #d0f1fc;
    //    background-image: url(img/bg-triangle-lightblue-left.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    margin-bottom: 4rem;

    .btn a {
        color:#fff !important;
    }
    .btn a:active {
        color:#fff !important;
    }
    .container.row {
        [class^=col-] {
            background: #fff;
            position: relative;
            top: 4rem;
            padding: 1.5rem;
            transition: .4s;
            margin-bottom: 1.5rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }

            &:hover {
                img {
                    mix-blend-mode: normal;
                    opacity: 1;
                }
            }

            figure {
                background: $dark-blue;
                margin-bottom: 1.5rem;

                img {
                    width: 100%;
                    mix-blend-mode: luminosity;
                    transition: .4s;
                    opacity: .5;
                }
            }

            h3 {
                font-size: 1.75rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}