.image-text-module {
    padding-top: 3rem;
    padding-bottom: 7rem;
    // margin-bottom: 4rem;

    p {
        color: $gray-body;
        font-size: 1.25rem;
    }

    h2 {
        margin-bottom: 2.5rem;
    }


    .image-text-cols {

        img {
            width: 100%;
            margin-bottom: 2rem;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }

    h3 {
        color: $dark-blue;
        font-size: 1.75rem;
    }


    }

}