.office-locations {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #e1f6fe;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    //margin-bottom: 4rem;
    

    h2 {
        margin-bottom: 0;
    }

    h3 {
        margin-bottom: 2.5rem;
        padding-left: 0;
        // color: $gray-body;
        color: $dark-blue;
        font-size: 1.125rem;

            // &.active,
            // a {
            //     color: $dark-blue;
            //     transition: .4s;
            //     position: relative;
            //     display: inline-block;
            //     transform-origin: center;
            //     text-decoration: none;

            //     &:hover {
            //         transform: scale(1.05);

            //     }
            // }

            // &:after {
            //     content: '/';
            //     padding-left: 8px;
            //     color: $gray-body;
            // }
        // }
    }


    // Columns
    .office-locations--cols.row,
    .office-locations--cols.showregion {
        padding: 0;
        // margin-bottom: 2rem;

        div[class^="col"] {
            margin-bottom: 2rem;

            @media (min-width: $screen-xs-max) {
                margin-bottom: 3rem
            }
        }

        img {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }

    h3 {
        color: $gray-body;
        font-size: 1.5rem;
    }

    address,
    address p,
    address a {
        color: $gray-body;
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}