.pr-quote {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;


    blockquote {
        max-width: 960px;
        margin: 0 auto 1rem;
        padding: 0;
        color: $white;
        text-transform: none;
        text-align: center;
        width: 100%;


        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }
    }

    label {
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        color: $dark-blue;
        font-weight: 600;
        width: 100%;
        font-style: italic;
    }

}