.brick-videos {
  padding: 0.5rem 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: 2rem;
    padding: 0;
  }

  .video-container {
    @include media_breakpoint-up(lg) {
      transform: translateY(2rem);
      margin: 0;
    }
  }
}