
.award {
   
    width: 100%;
    padding: 10px;
    position: relative;
    top: 0;
    box-shadow: 0 0 0 transparent;
    float: left;
    transition: opacity 300ms 300ms, transform 700ms 300ms, top 300ms;
    height: auto;
    min-height: 375px;
    max-height: 375px;
    color: #666;
}
	
.award .clip {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 42px;
}

.award .clip:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10px;
    right: -10px;
    width: 0px;
    height: 0px;
    border-top: solid 75px #003662;
    border-left: solid 75px transparent;
}

.award .clip:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
    width: 0px;
    height: 0px;
    border-top: solid 75px transparent;
    border-left: solid 75px #ffffff;
    border-right: solid 0px transparent;
}

.award .clip .svg-wrapper {
	position: relative;
    height: 60px;
    top: -11px;
    right: auto;
}

.award .clip .svg-wrapper svg {
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 992px){
	.award .clip:before {
	    border-top: solid 75px #003662;
	    border-left: solid 75px transparent;
	}

	.award .clip:after {
	    border-top: solid 75px transparent;
	    border-left: solid 75px #ffffff;
	}
}