html{
  -ms-overflow-style: scrollbar;
}
.side-menu-wrapper {z-index:9999;right:-100%;position:fixed;top:0;height:100%;width:100%;border-left:solid 1px #ccc;transition:right 300ms;}
.side-menu-wrapper.active {right:0%;}
.side-menu-wrapper .tab.btn.btn-primary.jp-contact-btn {left: -106px;}
.side-menu-wrapper .tab.btn.btn-primary.cn-contact-btn {left: -87px;}
.side-menu-wrapper .tab.btn.btn-primary.de-contact-btn {left: -120px;}
.side-menu-wrapper .tab{position:absolute;left:-99px;top:30%;transform:rotate(-90deg);border-bottom-left-radius:0;border-bottom-right-radius:0;}
.side-menu-wrapper .side-menu {background-color:#fff;height:100%;padding:30px 4% 0;overflow-y:auto;}
.side-menu-wrapper .close {position:absolute;top:0;right:30px;font-size:7rem;}
.side-menu-wrapper .screen {display:none;width:100%;}
.side-menu-wrapper .screen[data-screen="1"] {padding-top:5%;}
.side-menu-wrapper .screen.active {display:inline-block;margin-bottom: 30px;}
.side-menu-wrapper .side-menu .radio-wrapper label {font-weight:normal;color:#666;}
@media(min-width:800px) {
  .side-menu-wrapper {width:700px;right:-700px;}
  .side-menu-wrapper.active {right:0px;}
  .side-menu-wrapper .side-menu {padding: 4% 10%;}
}

.bottom-sticky-nav-backdrop {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index: 1030;
	display:none;

	&.active {
		display:inline-block;
	}
}


.mktoForm {
	left:0 !important;

	@media(max-width:$screen-md) {
		width:500px !important;
	}
	@media(max-width:$screen-xs) {
	    width: 100% !important;
	}

	.mktoFormCol {
    	margin-bottom:0 !important;
    	width:100%;
	}

	.mktoFieldDescriptor {

		& + .mktoFieldDescriptor {
			margin-left:2%;
		}
	}

	.mktoFormRow .mktoFormCol {
		@media(max-width:$screen-sm) {
			width:100% !important;
			margin: 0;
		}
	}

	input[type=text],
	textarea.mktoField,
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=date],
	select.mktoField {
		width:100% !important;
	}

	.mktoFieldWrap {
		width: 100%;
	}  

	.mktoButtonRow {
		margin-top:10px;
		.mktoButtonWrap  {
			margin:0 !important;
		}  
	}  

	.mktoButtonWrap.mktoSimple .mktoButton:hover {
    	border: 1px solid $blue !important;
	}

	textarea.mktoField {
	    height: 90px !important;

	    @media(min-width:$screen-sm-min) {
    		height: 179px !important;
    	}
	}
}
