.leadership-outer-wrapper {

	.leadership-wrapper{

		.leadership-inner-wrapper {

			@media(min-width: $screen-md-min) {
				@include flexbox;
				@include align-items(flex-end);
			}

			.leadership-overview {

				.leadership {
					overflow-y: scroll;
					max-height: 500px;
					
					@media(min-width: $screen-md-min) {
						max-height: 307px;
					}
					@media(min-width: $screen-lg-min) {
						max-height: 400px;
					}
					@media(min-width: $screen-xl-min) {
						max-height:500px;
					}

					.leader {

						.leader-title {
							@media(min-width: $screen-md-min) and (max-width:$screen-lg-min) {
								font-size: 1.5rem;
							}
						}

						&:hover {
							background-color:darken($light-gray, 10%);
							cursor: pointer;
						}
					}
				}
			}
		}

		.leadership-bios {
			display:none;

			.close-bio {
				position:absolute;
				top:0;
				right:15px;
				color:$white;
				cursor:pointer;
			}
		}
	}

	&.active {
		background:$blue;
		color:$white;

		.leadership-inner-wrapper {

			@include align-items(center);

			.leadership-overview {
				display: none;
			}

			.leadership-bios {
				display: inline-block;
				 p {
					@media(min-width: $screen-md-min) {
	 					font-size: 1.4rem;
						line-height: 1.1;
					}
					@media(min-width: $screen-lg-min) {
				    	font-size: 1.75rem;
				    }
					@media(min-width: $screen-xl-min) {
    					line-height: 1.4;
    				}
				}
			}
		}
	}
}