.bottom-sticky-nav-backdrop {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	z-index: 1030;
	display:none;

	&.active {
		display:inline-block;
	}

}

.bottom-sticky-nav {
	border-top:solid 1px #cccccc;
	transition:max-height 500ms 0;
	display:none;

	@media(min-width:$screen-sm-min) {
		max-height:55px;
		display:inline-block;
	}

	&.active {
		display:inline-block;

		@media(min-width:$screen-sm-min) {
			max-height:10000px;
		}

		.bottom-sticky-nav-inner {
			position:relative;
			z-index:999;
		}
	}

	.bottom-sticky-nav-inner {
		
		.icon {
			width: 135px;
			position:relative;
			transform: translateY(-25px);
			display: inline-block;
		    margin: -10px 10px;

			@media(min-width: $screen-xs-min) {
				margin: -10px 50px;
			}

			.icon-circle {
				height:55px;
				width:55px;
				margin:0 auto;
				background-color:$light-blue;
				border:solid 1px darken($light-blue, 5%);
				border-radius:50%;
				transition:background-color 300ms;
				cursor:pointer;

				&.demo-now {
					.svg-wrapper {
						svg {
							height:35px;
							margin-top: 10px;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}

				&:hover {
					background-color:darken($light-blue, 10%);
				}

				.svg-wrapper {
					svg {
						height:45px;
						margin-top:5px;
					}
				}
			}

			.contact-us-label {
				font-size:1.5rem;
			}
		}
	}
}


.mktoForm {
	left:0 !important;

	@media(max-width:$screen-md) {
		width:500px !important;
	}
	@media(max-width:$screen-xs) {
	    width: 100% !important;
	}

	.mktoFormCol {
    	margin-bottom:0 !important;
    	width:100%;
	}

	.mktoFieldDescriptor {

		& + .mktoFieldDescriptor {
			margin-left:2%;
		}
	}

	.mktoFormRow .mktoFormCol {
		@media(max-width:$screen-sm) {
			width:100% !important;
			margin: 0;
		}
	}

	input[type=text],
	textarea.mktoField,
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=date],
	select.mktoField {
		width:100% !important;
	}

	.mktoFieldWrap {
		width: 100%;
	}  

	.mktoButtonRow {
		margin-top:10px;
		.mktoButtonWrap  {
			margin:0 !important;
		}  
	}  

	.mktoButtonWrap.mktoSimple .mktoButton:hover {
    	border: 1px solid $blue !important;
	}

	textarea.mktoField {
	    height: 90px !important;

	    @media(min-width:$screen-sm-min) {
    		height: 179px !important;
    	}
	}
}



