// Container that the modal scrolls within
.modal.contact-us-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    position:fixed;
    bottom:0%;
    left:0;
    // @include transition-transform(0.3s ease-out);
  }
  
//   &.in .modal-dialog {  @include translate(0,0); }

  .modal-dialog {
    width: 100%;
    position: relative;
    margin: 0;
    transform: translate(0, 105%);
  }

  .modal-content {
    position:fixed;
    padding: 30px 0;
    bottom: 0;
  }
}
