.clients-section  {
	.logo-wrapper {
		.svg-wrapper {
			text-align:center;
			height: 50px;
			position: relative;

			svg {
		        max-height: 60px;
				max-width: 175px;
				height: auto;
				display: inline-block;
				position: absolute;
				left: 0%;
				top: 50%;
				transform: translate(0%, -50%);
				width: 100%;
			}
		}
	}
}

.full-clients-section {
	.logo-wrapper {
		.svg-wrapper {
			text-align:center;
			height: 50px;
			position: relative;

			svg {
		        max-height: 60px;
				max-width: 175px;
				height: auto;
				display: inline-block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
		}
	}
}

.case-study {
    .logo-wrapper{
        svg {
            max-height: 60px;
            max-width: 175px;
            height: auto;
            display: inline-block;
            width: 100%;
        }
    }
}
