// Start Cloud Commerce SVG

.img-responsive-pictogram {
	display: block;
	max-width: 100%;
}


#cloudCommerce {

	width:100%;
	max-width: 550px;

	@media(min-width:325px) {

		g {
			opacity: 0;
		}

		#CCfarLine {
			-webkit-transform: translate(-65%, -76%);
			transform: translate(-65%, -76%);
			transform: translate3d(-65%, -76%, 0);
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#CCcloseLine {
			-webkit-transform: translate(65%, 85%);
			transform: translate(65%, 85%);
			transform: translate3d(65%, 85%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#CCorderScreen {
		    -webkit-transform: translate(-83%, 80%);
		    transform: translate(-83%, 80%);
		    transform: translate3d(-83%, 80%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#CCfulfillmentManagement {
		    -webkit-transform: translate(-75%, -35%);
		    transform: translate(-75%, -35%);
		    transform: translate3d(-75%, -35%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}
		#CCfulfillment {
			-webkit-transform: translate(65%, 85%);
			transform: translate(65%, 85%);
			transform: translate3d(65%, 85%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}
		#CCmobilePayment {
			-webkit-transform: translate(65%, 85%);
			transform: translate(65%, 85%);
			transform: translate3d(65%, 85%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}
		#CClaptop {
		    -webkit-transform: translate(100%, -35%);
		    transform: translate(100%, -35%);
		    transform: translate3d(100%, -35%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}
		#CCsideCloud {
		    -webkit-transform: translate(80%, -35%);
		    transform: translate(80%, -35%);
		    transform: translate3d(80%, -35%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}
		#CCfarCloud {
		    -webkit-transform: translate(-65%, -65%);
		    transform: translate(-65%, -65%);
		    transform: translate3d(-65%, -65%, 0);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		&.fly {
			g {
				opacity: 1;
			}

			#CCfarLine,
			#CCcloseLine,
			#CCorderScreen,
			#CCfulfillmentManagement,
			#CCfulfillment,
			#CCmobilePayment,
			#CClaptop,
			#CCsideCloud,
			#CCfarCloud {
				-webkit-transform:translate(0,0);
				transform:translate(0,0);
			}
		}
	}
}
// End Cloud Commerce SVG


// Start Flexible Monetization and Billing SVG
#flexibleMonetization {

	width:100%;
	max-width: 550px;

	@media(min-width:325px) {

		g {
			opacity: 0;
		}

		#farLine {
			-webkit-transform: translate(-65%, -76%);
			transform: translate(-65%, -76%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#closeLine {
			-webkit-transform: translate(65%, 85%);
			transform: translate(65%, 85%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}


		#onlineStore {
			-webkit-transform: translate(18%, 45%);
			transform: translate(18%, 45%);
			-webkit-transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#mobilePayment {
			-webkit-transform: translate(18%, 45%);
			transform: translate(18%, 45%);
			-webkit-transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#cards {
		    -webkit-transform: translate(-100%,100%);
		    transform: translate(-100%,100%);
		    -webkit-transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#worldScreen {
			-webkit-transform: translate(-60%,47%);
			transform: translate(-60%,47%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 600ms;
			transition: transform 1000ms 500ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#screen {
			-webkit-transform: translate(39%,-57%);
			transform: translate(39%,-57%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);	
		}

		&.fly {

			g {
				opacity: 1;
			}

			#farLine,
			#closeLine,
			#onlineStore,
			#mobilePayment,
			#worldScreen,
			#screen,
			#cards {
				-webkit-transform:translate(0,0);
				transform:translate(0,0);
			}
		}
	}
}
// Start Flexible Monetization and Billing SVG



// Start Full Service Models SVG
#fullServiceModels {

	width:100%;
	max-width: 550px;

	@media(min-width:325px) {

		g {
			opacity: 0;
		}

		#farLine {
			-webkit-transform: translate(-65%, -76%);
			transform: translate(-65%, -76%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#closeLine {
			-webkit-transform: translate(65%, 85%);
			transform: translate(65%, 85%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}


		#rightRoadBlock {
			-webkit-transform: translate(35%,30%);
			transform: translate(35%,30%);
			-webkit-transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#leftRoadBlock {
			-webkit-transform: translate(-22%, 20%);
			transform: translate(-22%, 20%);
			-webkit-transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#bank {
		    -webkit-transform: translate(-50%, -30%);
		    transform: translate(-50%, -30%);
			-webkit-transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition: transform 1000ms 700ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#files {
			-webkit-transform: translate(35%, 20%);
			transform: translate(35%, 20%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 600ms;
			transition: transform 1000ms 500ms, opacity 1000ms 600ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);
		}

		#currency {
			-webkit-transform: translate(-20%, 17%);
			transform: translate(-20%, 17%);
			-webkit-transition: transform 1000ms 300ms, opacity 1000ms 300ms;
			transition: transform 1000ms 300ms, opacity 1000ms 300ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);	
		}

		#screen {
			-webkit-transform: translate(39%,-57%);
			transform: translate(39%,-57%);
			-webkit-transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition: transform 1000ms 500ms, opacity 1000ms 500ms;
			transition-timing-function: cubic-bezier(0.67, 0.15, 0.23, 0.91);	
		}

		&.fly {

			g {
				opacity: 1;
			}

			#farLine,
			#closeLine,
			#rightRoadBlock,
			#leftRoadBlock,
			#bank,
			#files,
			#screen,
			#currency,
			#cards {
				-webkit-transform:translate(0,0);
				transform:translate(0,0);
			}
		}
	}
}
// Start Full Service Models SVG