.brick-home-news {
  background-color: $white;
  padding: 3rem 0;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.3;
  }

  .dr_card {
    border-top: 2px solid $light-blue;
    padding: 1rem 0;
  }

  .btn {
    margin-bottom: 1rem;
  }

  .blog {
    border-top: none;
    background-color: $light-gray;
    padding: 1rem;
    margin-bottom: 2rem;

    .img-background {
      height: 12rem;
      margin-bottom: 1rem;
    }
  }
}