#global_header{
    position:relative;
    z-index:100;

    //header
    nav{
        ul{
            padding:0;
            margin:0;
            li{
                list-style-type: none;
            }
        }
    }

    .header_container{
        background: $white;

        .menu-item-language{
            position:relative;

            &:after{
                font-family: FontAwesome;
                content: "\f0d7";
                position:absolute;
                top: 14px;
                right: 0px;

                @include customMinMediaQuery(1200px){
                    right: 7px;
                }
            }

            ul{
                li{
                    &:after{
                        content: "";
                    }
                }
            }
        }

        #logo{
            padding: 0;
            float: left;
            margin: .1em 0px .25em;
            height: 45px;


            @include customMinMediaQuery(768px){
                margin: 0 0 .2em;
            }

            @include customMinMediaQuery(995px){
                margin-top:0em;
                margin-bottom: .3em;
            }


            a{
                display: block;
                margin:0;
                width: 150px;

                @include customMinMediaQuery(768px){
                    width: 145px;
                }

                @include customMinMediaQuery(991px){
                    width: 175px;
                }

                @include customMinMediaQuery(1200px){
                    width:225px;
                }

                svg{
                    display: block;
                    margin: .7em (5 / $defaultFontSize)+em .4em;
                    max-width: 225px;
                    height:30px;

                    @include customMinMediaQuery(992px){
                        margin-top: 7px;
                        margin-bottom: .2em;
                        height:40px;

                    }

                    @include customMinMediaQuery(1170px){
                        margin-top: 4px;
                    }
                }
            }
        }

        .hamburger{

                float:right;
                overflow:hidden;
                margin-top:10px;

                @include customMinMediaQuery(768px){
                    display:none;
                }

                .icon-wrapper{

                    position:relative;
                    height: (27 / $defaultFontSize)+em;
                    width: (27 / $defaultFontSize)+em;
                    cursor:pointer;

                    span{
                        display: block;
                        position: absolute;
                        height: (3 / $defaultFontSize)+em;
                        width: 100%;
                        background:$blue;
                        border-radius: (2 / $defaultFontSize)+em;
                        opacity: 1;
                        left: 0;
                        @include rotate(0deg);
                        @include transition(.25s);

                        &:nth-child(1){
                            top: (6 / $defaultFontSize)+em;
                        }

                        &:nth-child(2), &:nth-child(3){
                            top: (14 / $defaultFontSize)+em;
                        }

                        &:nth-child(4){
                            top: (22 / $defaultFontSize)+em;
                        }

                    }

                }
            }

            .hamburger.active{

                span{
                    &:nth-child(1){
                      top: (14 / $defaultFontSize)+em;
                      width: 0%;
                      left: 50%;
                    }

                    &:nth-child(2){
                        @include rotate(-45deg);
                    }

                    &:nth-child(3){
                        @include rotate(45deg);
                    }

                    &:nth-child(4){
                      top: (22 / $defaultFontSize)+em;
                      width: 0%;
                      left: 50%;
                    }
                }

            }


        .phone_number{
            color:$green;
            font-family:$med;
            line-height:1;
            font-size:1.1em;
            float:right;
            padding:8px (2 / $defaultFontSize)+em 0;
            cursor:pointer;
            margin-right:15px;

            &:hover{
                text-decoration:none;
            }

            span{
                display:none;

                @include customMinMediaQuery(765px){
                    display:inline-block;
                }
            }

            &:after{
                font-family: FontAwesome;
                content: "\f098";
                font-size: 2.35em;

                @include customMinMediaQuery(765px){
                    content: "";
                    display: none;
                }
            }

            @include customMinMediaQuery(400px){
                margin-right:0;
            }

            @include customMinMediaQuery(768px){
                padding:(9 / $defaultFontSize)+em (2 / $defaultFontSize)+em 0;
                margin-top: 11px;
                cursor:auto;
                pointer-events:none;
            }

            @include customMinMediaQuery(995px){
                padding-right:.5em;
                margin: 11px 0 0;
                font-size: 1.2em;
            }

            @include customMinMediaQuery(1200px){
                line-height:.9;
            }
        }


        .demo{
            float:right;
            padding: 6px 12px;
            background: $green;
            font-family:$eng;
            color:$white;
            margin:10px 20px 0 10px;
            display:none;

            span{
                display:none;
                @include customMinMediaQuery(991px){
                    display:inline-block;
                    padding-right:3px;
                }
            }

            @include customMinMediaQuery(400px){
                display:block;
            }

            @include customMinMediaQuery(765px){
                margin-right:0;
            }

            @include customMinMediaQuery(995px){
                margin-top: 8px;
                font-size: 1em;
            }

            @include customMinMediaQuery(1200px){
                font-size: 1.2em;
            }

            &:hover{
                text-decoration:none;
                background:$darkGreen;
            }
        }

        nav.top-nav{
            margin:.4em 0 0;
            display:none;
            width: 276px;

            @include customMinMediaQuery(768px){
                display:block;
                margin-top: 8px;
                float: right;
            }

            @include customMinMediaQuery(991px){
                    width: 365px;
            }

            @include customMinMediaQuery(1200px){
                  width: 480px;
            }

            &.search_active{
                @include customMinMediaQuery(768px){
                    width: 383px;
                }

                @include customMinMediaQuery(991px){
                    width: 442px;
                }

                @include customMinMediaQuery(1200px){
                       width: 560px;
                }
            }

            #search_form{
                float: right;
                position:relative;
                cursor:pointer;

                @include customMinMediaQuery(768px){
                    padding: (7 / $defaultFontSize)+em 0 (5 / $defaultFontSize)+em;

                }

                @include customMinMediaQuery(1200px){
                    padding-left:(10 / $defaultFontSize)+em;
                    padding-right:(10 / $defaultFontSize)+em;
                }

                #search-label{
                    font-family: $eng;
                    color: $black;
                    display:block;
                    font-size: 1em;
                    text-align:center;
                    padding: (3 / $defaultFontSize)+em (10 / $defaultFontSize)+em;
                    line-height: 1;

                    @include customMinMediaQuery(768px){
                        border:solid 1px $medLightGray;
                        border-top:none;
                        border-bottom:none;
                        padding: 0.1875em 0 0 0.25em;
                        margin: 0 0 0 1em;
                    }

                    @include customMinMediaQuery(995px){
                        font-size:1.1em;
                    }

                    @include customMinMediaQuery(1200px){
                        font-size: 1.2em;
                        padding: .15em .5em .2175em;
                        margin:0;
                    }

                    a{
                        @include customMediaQuery(991px){
                            padding: 0px;
                        }
                    }

                    .fa{
                        height: (4 / $defaultFontSize)+em;
                        padding: 0 0.25em;
                        font-size: .8em;
                        position: relative;
                        top: -(2 / $defaultFontSize)+em;
                    }
                }

                .search_box {
                    display: none;
                }

                .btn{
                    display:none;
                }

            }

            #search_form.active{

                width: 178px;

                #search-label{
                    padding: 0.3em 0px 0;
                    position:absolute;

                    span{
                        display:none;
                    }

                    .fa{
                        color:$medGray;
                    }
                }

                &:after{
                    position:absolute;
                    top: 10px;
                    font-family:FontAwesome;
                    content: "\f002";
                    color:$black;
                    left: 8px;

                    @include customMinMediaQuery(995px){
                        left: 14px;
                    }
                }

                .search_box{
                    display:block;
                    width:100%;
                    font-size: (14 / $defaultFontSize)+em;
                    padding: (5 / $defaultFontSize)+em 0 (4 / $defaultFontSize)+em 1.75em;
                    border: solid 1px #CCC;
                    position:relative;
                }

                @include customMinMediaQuery(768px){
                    margin-left: 10px;
                }

                @include customMinMediaQuery(995px){
                    margin-left: 0px;
                }
            }




                .menu{
                    font-family: $eng;
                    float:right;

                    li{
                        float:left;
                        padding: (5 / $defaultFontSize)+em (10 / $defaultFontSize)+em;
                        line-height: .75;

                        @include customMinMediaQuery(768px){
                            padding-left: 0.1em;
                            padding-right: 0.1em;
                        }

                        @include customMinMediaQuery(1200px){
                            padding-left:(10 / $defaultFontSize)+em;
                            padding-right:(10 / $defaultFontSize)+em;
                        }

                        &.dropdown-item{
                            ul{
                                max-width: 180px;
                            }
                        }

                        &.green-menu{
                            a{
                                background:$green;
                                color:$white;

                                &:hover{
                                    background:$darkGreen;
                                }
                            }
                        }


                        a{
                           font-family: $eng;
                            color: $black;
                            display:block;
                            font-size: 1em;
                            padding: 0 inherit;
                            text-align:center;

                            .fa{
                                padding: 0 (4 / $defaultFontSize)+em;
                                line-height: .5;
                            }

                            @include customMinMediaQuery(768px){
                                padding: (7 / $defaultFontSize)+em (10 / $defaultFontSize)+em;
                            }

                            @include customMinMediaQuery(992px){
                                font-size: 1.1em;
                            }

                            @include customMinMediaQuery(1200px){
                                font-size:1.2em;
                            }



                            &:hover {
                                text-decoration:none;
                            }

                        }
                    }

                    ul{
                        display:none;
                        padding: .5em (20 / $defaultFontSize)+em;
                        background: $darkBlue;
                        position: relative;
                        left: -2%;
                        width: 104%;
                        top: -1.25em;
                        margin:1em 0 0;
                        z-index: 1;



                        @include customMinMediaQuery(768px){
                            position: absolute;
                            left:auto;
                            width:auto;
                            top:auto;
                            margin: 0;
                            border:solid 1px $medLightGray;
                            background: $lightGray;

                        }

                        li{
                            display: inline-block;
                            white-space: nowrap;
                            line-height: 1;
                            width:100%;

                            a{
                               font-family: $arial;
                                font-size:.8em;
                                color:$white;
                                border:none;
                                padding: 0.65em 0.5em .65em 0;

                                @include customMinMediaQuery(768px){
                                    color:$darkGray;
                                    padding-bottom: 0.65em;
                                }

                                &:hover{
                                    @include customMinMediaQuery(768px){
                                        color: $blue;
                                    }
                                }
                            }
                        }
                    }
                }
        }
    }

    .main_nav_container{

        background:$blue;
        border-bottom: 1px solid $darkBlue;

        .container{
            @include customMediaQuery(768px){
                padding:0;
            }
        }


        .nav-wrapper{
            z-index:999;

            @include customMediaQuery(768px){
                padding:0;
                display:none;
            }

            @include anythingAbove(768px){
                display:block !important;
            }

            nav{
                float:left;
                border-top: solid (1 / $defaultFontSize)+em $medGray;
                width: 100%;

                a{
                    color:$medGray;
                }

                @include customMinMediaQuery(768px){
                    border:none;
                    padding: 0;
                    width:auto;
                }


                ul{
                     
                    li {
                        display: inline-block;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
                        margin-right: -5px;
                        width:100%;
                        border-bottom:solid 1px $darkBlue;

                        @include customMinMediaQuery(768px){
                            width:auto;
                            border:none;
                        }

                        &.main-solution{
                            background:$darkBlue;
                            margin-right: -5px;
                            border-bottom: solid 1px $blue;

                            @include customMinMediaQuery(768px){
                                border:none;
                            }

                            &:hover{
                                a{
                                    background:$blue;
                                }

                                ul{
                                    li{
                                        a{
                                            background:$darkBlue;
                                            @include customMinMediaQuery(768px){
                                                background:$lightGray;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .menu-expand{
                            position:absolute;
                            right: (10 / $defaultFontSize)+em;
                            top: (3 / $defaultFontSize)+em;
                            cursor:pointer;
                            font-size: (25 / $defaultFontSize)+em;
                            color:$white;
                            line-height:1;
                            padding: 7px 20px;

                            @include customMinMediaQuery(768px){
                                display:none;
                            }

                            .fa.fa-caret-down{
                                position:relative;
                                right: -(2 / $defaultFontSize)+em;
                                top: 0;
                                display:none;
                            }

                        }



                        a{
                            color: $white;
                            text-decoration: none;
                            font-family:$eng;
                            padding: 0.5em 0.5em .4em;
                            font-size: 1.45em;
                            line-height: 1;
                            width: auto;
                            display: inline-block;

                            @include customMinMediaQuery(768px){
                                padding: .4em 1.12em .1em;
                                font-size: 1.4em;
                                display: block;
                            }

                            @include customMinMediaQuery(750px){
                                padding-left: .75em;
                                padding-right: .75em;
                            }

                            @include customMinMediaQuery(991px){
                                font-size: 1.6em;
                                padding: 0.3em 1.1em 0.2em;
                            }

                            @include customMinMediaQuery(1200px){
                                font-size: 2.08em;
                                padding-right: 1.15em;
                                padding-left: 1.3em;
                            }
                        }

                        &:hover a{
                            background: $darkBlue;

                            @include customMediaQuery(768px){
                                background:transparent;
                                border-color: transparent;
                            }
                        }

                        &:hover{
                            ul{
                                display:block;
                                    z-index: 999;

                                @include customMediaQuery(768px){
                                    display:none;
                                }

                                li{
                                    a{
                                        @include customMinMediaQuery(768px){
                                            background:$lightGray;
                                        }
                                    }
                                }
                            }
                        }

                        ul{
                            display:none;
                            padding: .5em (20 / $defaultFontSize)+em;
                            background: $darkBlue;
                            position: relative;
                            left: -2%;
                            width: 104%;
                            top: -1.25em;
                            margin:1em 0 0;



                            @include customMinMediaQuery(768px){
                                position: absolute;
                                left:auto;
                                width:auto;
                                top:auto;
                                margin: 0;
                                border:solid 1px $medLightGray;
                                background: $lightGray;

                            }

                            li{
                                display: block;
                                white-space: nowrap;
                                line-height: 1;

                                a{
                                    font-family:$arial;
                                    font-size:.8em;
                                    color:$white;
                                    border:none;
                                    padding: 0.65em 0.5em .65em 0;

                                    @include customMinMediaQuery(768px){
                                        color:$darkGray;
                                        padding-bottom: 0.65em;

                                    }

                                    &:hover{

                                        @include customMinMediaQuery(768px){
                                            color: $blue;
                                        }
                                    }
                                }
                            }
                        }

                        ul.active{
                            @include customMediaQuery(768px){
                                display:block;
                            }
                        }

                    }
                }
            }
        }
    }
}
