.brick-events-hero {
  @extend .brick-hero;

  .event-details {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .registration-closed {
    opacity: 0.3;
    margin: 2rem 0 0.25rem;

    & + p {
      font-size: 1.25rem;
    }
  }
}