@import "header";
@import "footer";
@import "mycommerce-slider";
@import "client-grid";
@import 'client-feature-slider';
@import "video-half";
@import "video-header";
@import "team-members";
@import "home-animation";
@import "blog";
@import "video-hero";
@import "contact-overlay";
@import "labels";
@import "order-search-form";


.row-eq-height {
	 flex-wrap: wrap;
}

.bg-white .owl-theme .owl-nav {
    color: $light-blue;
}

.bg-blue .owl-theme .owl-nav {
    color: $white;
}

.bg-lightGray .owl-theme .owl-nav {
    color: $blue;
}