@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	.orderSearch {
    	border-right: $mobile-right-border-hide!important;
  	}
}


@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.orderSearch {
    	border-right: $mobile-right-border-hide!important;
  	}
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.orderSearch {
    	border-right: 2px solid #eeeeee;
  	}
}